ConveyancerInstructionSend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.oscre.org/ns/LC-version-1.1/OS/ConveyancerInstructionSend" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ec="http://www.oscre.org/ns/v1/ExtensionCommon" xmlns:hd="http://www.oscre.org/ns/v1/Header" targetNamespace="http://www.oscre.org/ns/LC-version-1.1/OS/ConveyancerInstructionSend" elementFormDefault="qualified">
	<xsd:import namespace="http://www.oscre.org/ns/v1/Header" schemaLocation="Header.xsd"/>
	<xsd:import namespace="http://www.oscre.org/ns/v1/ExtensionCommon" schemaLocation="ExtensionCommon.xsd"/>
	<!--Document-->
	<xsd:element name="ConveyancerInstructionSend" type="ConveyancerInstructionSendType"/>
	<!--ABIEs-->
	<xsd:complexType name="ConveyancerInstructionSendType">
		<xsd:sequence>
			<xsd:element ref="hd:Header"/>
			<xsd:element name="MessageSentDate" type="MessageSentDateType"/>
			<xsd:element name="TransactionInformation" type="Q1TransactionInformationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ConveyancerInstruction" type="Q1ConveyancerInstructionType" minOccurs="0" maxOccurs="unbounded"/>
			<!--extension done by TM-->
			<!--end of extension done by TM-->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MessageSentDateType">
		<xsd:sequence>
			<xsd:element name="Date" type="DateType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OfferType">
		<xsd:sequence>
			<xsd:element name="OriginalIssueDate" type="DateType" minOccurs="0"/>
			<xsd:element name="RevisedDate" type="DateType" minOccurs="0"/>
			<xsd:element name="ExpiryDate" type="DateType" minOccurs="0"/>
			<xsd:element name="ValidityPeriodMeasure" type="MeasureType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1AddressLineType">
		<xsd:sequence>
			<xsd:element name="Line" type="Q1TextType" maxOccurs="7"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1AttachmentType">
		<xsd:sequence>
			<xsd:element name="Date" type="DateType" minOccurs="0"/>
			<xsd:element name="EmbeddedFileBinaryObject" type="Q1BinaryObjectType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1AttachmentListType">
		<xsd:sequence>
			<xsd:element name="AttachmentListItem" type="ec:AttachmentListItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1BorrowerPartyType">
		<xsd:sequence>
			<xsd:element name="Name" type="Q1NameType"/>
			<xsd:element name="BorrowerPerson" type="Q1BorrowerPersonType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Organization" type="Q1OrganizationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Contact" type="Q1ContactType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1BorrowerPersonType">
		<xsd:sequence>
			<xsd:element name="FullName" type="Q1NameType" minOccurs="0"/>
			<xsd:element name="GivenName" type="Q1NameType" minOccurs="0"/>
			<xsd:element name="MiddleName" type="Q1NameType" minOccurs="0"/>
			<xsd:element name="FamilyName" type="Q1NameType" minOccurs="0"/>
			<xsd:element name="Title" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="MaritalStatus" type="ec:MaritalStatusType" minOccurs="0"/>
			<xsd:element name="DateOfBirth" type="DateType" minOccurs="0"/>
			<xsd:element name="IsMainBorrower" type="IndicatorType" minOccurs="0"/>
			<xsd:element name="MailingAddress" type="Q1MailingAddressType" minOccurs="0"/>
			<xsd:element name="Contact" type="Q1ContactType" minOccurs="0"/>
			<xsd:element name="AdditionalInformationList" type="ec:AdditionalInformationListType" minOccurs="0"/>	
	        <xsd:element name="ConsumerPortalOptOut" type="xsd:boolean" minOccurs="0"/>			
			<!--extension done by TM-->
			<!--end of extension done by TM-->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1BuildingsInsuranceType">
		<xsd:sequence>
			<xsd:element name="ResponsibilityCode" type="InsuranceResponsibilityCodeType" minOccurs="0"/>
			<xsd:element name="PolicyholderName" type="Q1NameType" minOccurs="0"/>
			<xsd:element name="PolicyNumber" type="Q1TextType"/>
			<xsd:element name="InsurerName" type="Q1NameType" minOccurs="0"/>
			<xsd:element name="SumInsuredAmount" type="AmountType"/>
			<xsd:element name="PremiumAmount" type="AmountType" minOccurs="0"/>
			<xsd:element name="PremiumInstalmentMeasure" type="MeasureType" minOccurs="0"/>
			<xsd:element name="CommencementDateTime" type="DateTimeType"/>
			<xsd:element name="RenewalDateTime" type="DateTimeType" minOccurs="0"/>
			<xsd:element name="SpecialCondition" type="Q1TextType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1BusinessInstructorPartyType">
		<xsd:sequence>
			<xsd:element name="PanelReferenceID" type="Q1IdentifierType" minOccurs="0"/>
			<xsd:element name="RegulatoryID" type="Q1IdentifierType" minOccurs="0"/>
			<xsd:element name="Name" type="Q1NameType" minOccurs="0"/>
			<xsd:element name="Company" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Contact" type="Q1ContactType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MailingAddress" type="Q1MailingAddressType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1BusinessOriginatorPartyType">
		<xsd:sequence>
			<xsd:element name="BranchID" type="Q1IdentifierType" minOccurs="0"/>
			<xsd:element name="PanelReferenceID" type="Q1IdentifierType" minOccurs="0"/>
			<xsd:element name="RegulatoryID" type="Q1IdentifierType" minOccurs="0"/>
			<xsd:element name="Name" type="Q1NameType" minOccurs="0"/>
			<xsd:element name="Company" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Contact" type="Q1ContactType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MailingAddress" type="Q1MailingAddressType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="StaffCase" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1CommunicationType">
		<xsd:sequence>
			<xsd:element name="ChannelCode" type="ChannelCodeType"/>
			<xsd:element name="Value" type="Q1TextType"/>
			<xsd:element name="Description" type="Q1TextType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1ConditionType">
		<xsd:sequence>
			<xsd:element name="Type" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="Description" type="Q1TextType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1ContactType">
		<xsd:sequence>
			<xsd:element name="ID" type="Q1IdentifierType" minOccurs="0"/>
			<xsd:element name="JobTitle" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="DepartmentName" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="PrimaryContactIndicator" type="IndicatorType" minOccurs="0"/>
			<xsd:element name="Name" type="Q1NameType"/>
			<xsd:element name="Salutation" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="Communication" type="Q1CommunicationType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1ConveyancerInstructionType">
		<xsd:sequence>
			<xsd:element name="OriginationDate" type="DateType" minOccurs="0"/>
			<xsd:element name="UpdateDate" type="DateType" minOccurs="0"/>
			<xsd:element name="TargetCompletionDate" type="DateType" minOccurs="0"/>
			<xsd:element name="ConveyancingFeeAmount" type="AmountType" minOccurs="0"/>
			<xsd:element name="TransactionAmount" type="AmountType" minOccurs="0"/>
			<xsd:element name="InstructionTypeCode" type="InstructionTypeCodeType"/>
			<xsd:element name="ClientType" type="Q1ClientTypeEnum"/>
			<xsd:element name="SubjectProperty" type="Q1SubjectPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MortgageCategory" type="ec:MortgageCategoryType" minOccurs="0"/>
			<xsd:element name="NewLoan" type="Q1NewLoanType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ExistingLoan" type="Q1ExistingLoanType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="BuyerParty" type="Q1BuyerPartyType" minOccurs="0"/>
			<xsd:element name="Condition" type="Q1ConditionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="GlobalConditions" type="Q1GlobalConditionsType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Note" type="Q1NoteType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Notes" type="Q1NotesType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Fees" type="ec:FeeType" minOccurs="0"/>
			<xsd:element name="SpecialCriteria" type="ec:SpecialCriteriaType" minOccurs="0"/>		
			<xsd:element name="ProductDetails" type="ec:ProductDetailsType" minOccurs="0"/>
			<xsd:element name="AttachmentList" type="Q1AttachmentListType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1NotesType">
		<xsd:sequence>
			<xsd:element name="Note" type="Q1NoteType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1BuyerPersonType">
		<xsd:sequence>
			<xsd:element name="FullName" type="Q1NameType" minOccurs="0"/>
			<xsd:element name="GivenName" type="Q1NameType" minOccurs="0"/>
			<xsd:element name="MiddleName" type="Q1NameType" minOccurs="0"/>
			<xsd:element name="FamilyName" type="Q1NameType" minOccurs="0"/>
			<xsd:element name="Title" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="MaritalStatus" type="ec:MaritalStatusType" minOccurs="0"/>
			<xsd:element name="DateOfBirth" type="DateType" minOccurs="0"/>
			<xsd:element name="IsMainBuyer" type="IndicatorType" minOccurs="0"/>
			<xsd:element name="MailingAddress" type="Q1MailingAddressType" minOccurs="0"/>
			<xsd:element name="Contact" type="Q1ContactType" minOccurs="0"/>
			<xsd:element name="AdditionalInformationList" type="ec:AdditionalInformationListType" minOccurs="0"/>	
	        <xsd:element name="ConsumerPortalOptOut" type="xsd:boolean" minOccurs="0"/>			
			<!--extension done by TM-->
			<!--end of extension done by TM-->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1BuyerPartyType">
		<xsd:sequence>
			<xsd:element name="Name" type="Q1NameType"/>
			<xsd:element name="BuyerPerson" type="Q1BuyerPersonType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Organization" type="Q1OrganizationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Contact" type="Q1ContactType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Q1ClientTypeEnum">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="BorrowerParty"/>
			<xsd:enumeration value="LegalOwnerParty"/>
			<xsd:enumeration value="BuyerParty"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Q1NoteType">
		<xsd:sequence>
			<xsd:element name="Type" type="Q1NoteTypeEnum"/>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Value" type="xsd:string"/>
			<xsd:element name="Note" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DateCreated" type="DateTimeType" minOccurs="0"/>
			<xsd:element name="CreatedBy" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Q1NoteTypeEnum">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="AcceptanceNote"/>
			<xsd:enumeration value="ConveyancerPartyNotes"/>
			<xsd:enumeration value="RejectionNote"/>
			<xsd:enumeration value="PanelInstructionNote"/>
			<xsd:enumeration value="PanelInstructionListNote"/>
			<xsd:enumeration value="AdditionalComment"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Q1ConveyancerPartyType">
		<xsd:sequence>
			<xsd:element name="PanelReferenceID" type="Q1IdentifierType" minOccurs="0"/>
			<xsd:element name="Name" type="Q1NameType" minOccurs="0"/>
			<xsd:element name="Company" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Type" type="ec:ConveyancerType" minOccurs="0"/>
			<xsd:element name="Contact" type="Q1ContactType" minOccurs="0"/>
			<xsd:element name="MailingAddress" type="Q1MailingAddressType" minOccurs="0"/>
			<xsd:element name="Organization" type="Q1OrganizationType" minOccurs="0"/>
			<!--extension done by TM-->
			<!--end of extension done by TM-->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1PartyType">
		<xsd:sequence>
			<xsd:element name="PanelReferenceID" type="Q1IdentifierType" minOccurs="0"/>
			<xsd:element name="Name" type="Q1NameType" minOccurs="0"/>
			<xsd:element name="Company" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Contact" type="Q1ContactType" minOccurs="0"/>
			<xsd:element name="MailingAddress" type="Q1MailingAddressType" minOccurs="0"/>
			<xsd:element name="Organization" type="Q1OrganizationType" minOccurs="0"/>
			<!--extension done by TM-->
			<!--end of extension done by TM-->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1CountryType">
		<xsd:sequence>
			<xsd:element name="IdentificationCode" type="UKCountryCodeType" minOccurs="0"/>
			<xsd:element name="Name" type="Q1NameType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1EvidenceOfTitleType">
		<xsd:sequence>
			<xsd:element name="TenureTypeCode" type="TenureTypeCodeType" minOccurs="0"/>
			<xsd:element name="TitleNumber" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="Lease" type="Q1LeaseType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1ExistingLoanType">
		<xsd:sequence>
			<xsd:element name="RollNumberID" type="Q1IdentifierType" minOccurs="0"/>
			<xsd:element name="BorrowerParty" type="Q1BorrowerPartyType" minOccurs="0"/>
			<xsd:element name="LenderParty" type="Q1LenderPartyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1GlobalConditionsType">
		<xsd:sequence>
			<xsd:element name="Title" type="Q1TextType"/>
			<xsd:element name="Attachment" type="Q1AttachmentType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1GuarantorPartyType">
		<xsd:sequence>
			<xsd:element name="Name" type="Q1NameType"/>
			<xsd:element name="Contact" type="Q1ContactType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1InsuranceRequirementsType">
		<xsd:sequence>
			<xsd:element name="ObtainThroughLenderIndicator" type="IndicatorType"/>
			<xsd:element name="InsuranceTypeCode" type="InsurancePolicyTypeCodeType"/>
			<xsd:element name="SumInsuredAmount" type="AmountType" minOccurs="0"/>
			<xsd:element name="OtherRequirements" type="Q1TextType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1IssueTermsType">
		<xsd:sequence>
			<xsd:element name="SecuredIndicator" type="IndicatorType" minOccurs="0"/>
			<xsd:element name="FSARegulatedIndicator" type="IndicatorType" minOccurs="0"/>
			<xsd:element name="CCARegulatedIndicator" type="IndicatorType" minOccurs="0"/>
			<xsd:element name="AdverseCreditHistoryIndicator" type="IndicatorType" minOccurs="0"/>
			<xsd:element name="TransferableIndicator" type="IndicatorType" minOccurs="0"/>
			<xsd:element name="PublishedConditionsValidDate" type="DateType" minOccurs="0"/>
			<xsd:element name="Condition" type="Q1ConditionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="InsuranceRequirements" type="Q1InsuranceRequirementsType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1LandlordPartyType">
		<xsd:sequence>
			<xsd:element name="ExternalID" type="Q1IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Name" type="Q1NameType"/>
			<xsd:element name="Organization" type="Q1OrganizationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Person" type="Q1PersonType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Contact" type="Q1ContactType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MailingAddress" type="Q1MailingAddressType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1LeaseType">
		<xsd:sequence>
			<xsd:element name="LeaseTypeCode" type="LeaseTypeCodeType" minOccurs="0"/>
			<xsd:element name="UnexpiredTermYearsMeasure" type="MeasureType" minOccurs="0"/>
			<xsd:element name="LeaseTermDescription" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="LandlordParty" type="Q1LandlordPartyType" minOccurs="0"/>
			<xsd:element name="TenantParty" type="Q1TenantPartyType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1LegalOwnerPartyType">
		<xsd:sequence>
			<xsd:element name="Name" type="Q1NameType"/>
			<xsd:element name="Organization" type="Q1OrganizationType" minOccurs="0" maxOccurs="4"/>
			<xsd:element name="LegalOwnerPerson" type="Q1LegalOwnerPersonType" minOccurs="0" maxOccurs="4"/>
			<xsd:element name="Contact" type="Q1ContactType" minOccurs="0"/>
			<xsd:element name="MailingAddress" type="Q1MailingAddressType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1LegalOwnerPersonType">
		<xsd:sequence>
			<xsd:element name="FullName" type="Q1NameType" minOccurs="0"/>
			<xsd:element name="GivenName" type="Q1NameType" minOccurs="0"/>
			<xsd:element name="MiddleName" type="Q1NameType" minOccurs="0"/>
			<xsd:element name="FamilyName" type="Q1NameType" minOccurs="0"/>
			<xsd:element name="Title" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="MaritalStatus" type="ec:MaritalStatusType" minOccurs="0"/>
			<xsd:element name="DateOfBirth" type="DateType" minOccurs="0"/>
			<xsd:element name="IsMainLegalOwner" type="IndicatorType" minOccurs="0"/>
			<xsd:element name="MailingAddress" type="Q1MailingAddressType" minOccurs="0"/>
			<xsd:element name="Contact" type="Q1ContactType" minOccurs="0"/>
			<xsd:element name="AdditionalInformationList" type="ec:AdditionalInformationListType" minOccurs="0"/>
			<xsd:element name="ConsumerPortalOptOut" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1LenderPartyType">
		<xsd:sequence>
			<xsd:element name="ExternalID" type="Q1IdentifierType" minOccurs="0"/>
			<xsd:element name="RegulatoryID" type="Q1IdentifierType"/>
			<xsd:element name="Name" type="Q1NameType"/>
			<xsd:element name="Organization" type="Q1OrganizationType"/>
			<xsd:element name="Contact" type="Q1ContactType" minOccurs="0"/>
			<xsd:element name="MailingAddress" type="Q1MailingAddressType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1LoanPartType">
		<xsd:sequence>
			<xsd:element name="PartReferenceID" type="Q1IdentifierType"/>
			<xsd:element name="RepaymentTypeCode" type="RepaymentTypeCodeType" minOccurs="0"/>
			<xsd:element name="LoanAmount" type="AmountType" minOccurs="0"/>
			<xsd:element name="LoanTermMeasure" type="MeasureType" minOccurs="0"/>
			<xsd:element name="InterestType" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="PayableRate" type="RateType" minOccurs="0"/>
			<xsd:element name="InterestPeriodMeasure" type="MeasureType" minOccurs="0"/>
			<xsd:element name="Retention" type="Q1RetentionType" minOccurs="0"/>
			<xsd:element name="LoanPartTerms" type="Q1LoanPartTermsType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1LoanPartTermsType">
		<xsd:sequence>
			<xsd:element name="SecuredIndicator" type="IndicatorType" minOccurs="0"/>
			<xsd:element name="FSARegulatedIndicator" type="IndicatorType" minOccurs="0"/>
			<xsd:element name="CCARegulatedIndicator" type="IndicatorType" minOccurs="0"/>
			<xsd:element name="Condition" type="Q1ConditionType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1MailingAddressType">
		<xsd:sequence>
			<xsd:element name="Type" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="BuildingName" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="BuildingNumber" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="Department" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="Floor" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="Room" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="StreetName" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="CityName" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="CitySub-Division" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="CountrySubentity" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="CountrySubentityCode" type="UKCountyCodeType" minOccurs="0"/>
			<xsd:element name="Zone" type="Q1TextType"/>
			<xsd:element name="AddressLine" type="Q1AddressLineType" minOccurs="0"/>
			<xsd:element name="Country" type="Q1CountryType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1NewLoanType">
		<xsd:sequence>
			<xsd:element name="RollNumberID" type="Q1IdentifierType" minOccurs="0"/>
			<xsd:element name="ApplicationReferenceID" type="Q1IdentifierType" minOccurs="0"/>
			<xsd:element name="LoanTotalAmount" type="AmountType" minOccurs="0"/>
			<xsd:element name="RetentionTotalAmount" type="AmountType" minOccurs="0"/>
			<xsd:element name="LoanToValue" type="ec:LoanToValueType" minOccurs="0"/>
			<xsd:element name="MaximumLoanTermMeasure" type="MeasureType" minOccurs="0"/>
			<xsd:element name="LenderParty" type="Q1LenderPartyType"/>
			<xsd:element name="BorrowerParty" type="Q1BorrowerPartyType"/>
			<xsd:element name="GuarantorParty" type="Q1GuarantorPartyType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Offer" type="OfferType" minOccurs="0"/>
			<xsd:element name="LoanPart" type="Q1LoanPartType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IssueTerms" type="Q1IssueTermsType" minOccurs="0"/>
			<xsd:element name="Attachment" type="Q1AttachmentType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="AttachmentList" type="Q1AttachmentListType" minOccurs="0"/>
			<xsd:element name="Priority" type="Q1PriorityType" minOccurs="0"/>
			<!--extension done by TM-->
			<!--end of extension done by TM-->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1OccupierPersonType">
		<xsd:sequence>
			<xsd:element name="FullName" type="Q1NameType"/>
			<xsd:element name="AgeMeasure" type="MeasureType" minOccurs="0"/>
			<xsd:element name="BorrowerRelationshipCode" type="RelationshipCodeType" minOccurs="0"/>
			<xsd:element name="BorrowerRelationshipDescription" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="ConsentGivenCode" type="ConsentGivenCodeType" minOccurs="0"/>
			<xsd:element name="ConsentRequiredCode" type="ConsentRequiredCodeType" minOccurs="0"/>
			<xsd:element name="Communication" type="Q1CommunicationType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1OrganizationType">
		<xsd:sequence>
			<xsd:element name="ID" type="Q1IdentifierType" minOccurs="0"/>
			<xsd:element name="LegalEntityID" type="Q1IdentifierType" minOccurs="0"/>
			<xsd:element name="LegalClassificationCode" type="OrganizationTypeCodeType" minOccurs="0"/>
			<xsd:element name="Name" type="Q1NameType"/>
			<xsd:element name="ShortName" type="Q1NameType" minOccurs="0"/>
			<xsd:element name="Description" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="IncorporationDate" type="DateType" minOccurs="0"/>
			<xsd:element name="DoingBusinessAsName" type="Q1NameType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PlaceOfRegistration" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="PlaceOfIncorporation" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="IsMainBorrower" type="IndicatorType" minOccurs="0"/>
			<xsd:element name="RegisteredOfficeAddress" type="Q1RegisteredOfficeAddressType" minOccurs="0"/>
			<!--extension done by TM-->
			<!--end of extension done by TM-->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1PersonType">
		<xsd:sequence/>
	</xsd:complexType>
	<xsd:complexType name="Q1PriorityType">
		<xsd:sequence>
			<xsd:element name="RankNumeric" type="NumericType" minOccurs="0"/>
			<xsd:element name="PriorRankingAmount" type="AmountType" minOccurs="0"/>
			<xsd:element name="LenderParty" type="Q1LenderPartyType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1PropertyAddressType">
		<xsd:sequence>
			<xsd:element name="Plot" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="BuildingNumber" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="BuildingName" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="Department" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="Floor" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="Room" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="StreetName" type="Q1TextType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CityName" type="Q1TextType"/>
			<xsd:element name="CitySub-Division" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="CountrySubentity" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="CountrySubentityCode" type="UKCountyCodeType" minOccurs="0"/>
			<xsd:element name="Zone" type="Q1TextType"/>
			<xsd:element name="UPRN" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="AddressLine" type="Q1AddressLineType" minOccurs="0"/>
			<xsd:element name="Country" type="Q1CountryType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1ReferenceType">
		<xsd:sequence>
			<xsd:element name="Reference" type="Q1TextType"/>
			<xsd:element name="AllocatedBy" type="Q1TextType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1RegisteredOfficeAddressType">
		<xsd:sequence>
			<xsd:element name="Postbox" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="BuildingNumber" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="BuildingName" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="Department" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="Floor" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="Room" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="StreetName" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="CityName" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="CitySub-Division" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="CountrySubentity" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="CountrySubentityCode" type="UKCountyCodeType" minOccurs="0"/>
			<xsd:element name="Zone" type="Q1TextType" minOccurs="0"/>
			<xsd:element name="AddressLine" type="Q1AddressLineType" minOccurs="0"/>
			<xsd:element name="Country" type="Q1CountryType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1RetentionType">
		<xsd:sequence>
			<xsd:element name="RetentionAmount" type="AmountType"/>
			<xsd:element name="ReleaseDate" type="DateType"/>
			<xsd:element name="Condition" type="Q1ConditionType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1SubjectPropertyType">
		<xsd:sequence>
			<xsd:element name="PropertyReference" type="ec:ReferenceType" maxOccurs="unbounded"/>
			<xsd:element name="UnderConstructionIndicator" type="IndicatorType" minOccurs="0"/>
			<xsd:element name="Status" type="ec:PropertyStatusType" minOccurs="0"/>
			<xsd:element name="Type" type="ec:PropertyType" minOccurs="0"/>
			<xsd:element name="Style" type="ec:PropertyStyle" minOccurs="0"/>
			<xsd:element name="ConstructionType" type="ec:PropertyConstructionType" minOccurs="0"/>
			<xsd:element name="UsageType" type="ec:PropertyUsageType" minOccurs="0"/>
			<xsd:element name="Value" type="AmountType" minOccurs="0"/>
			<xsd:element name="NumberOfBedrooms" type="NumericType" minOccurs="0"/>
			<xsd:element name="YearBuilt" type="ec:DateYearType" minOccurs="0"/>
			<xsd:element name="OccupierPerson" type="Q1OccupierPersonType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="LegalOwnerParty" type="Q1LegalOwnerPartyType" minOccurs="0"/>
			<xsd:element name="BuildingsInsurance" type="Q1BuildingsInsuranceType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="EvidenceOfTitle" type="Q1EvidenceOfTitleType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PropertyAddress" type="Q1PropertyAddressType"/>
			<xsd:element name="AskingPrice" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CurrentPropertyStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EPCType" type="Q1EPCType" minOccurs="0"/>
			<xsd:element name="OfferDate" type="DateType" minOccurs="0"/>
			<xsd:element name="AgreedPrice" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OfferPrice" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EPCURL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EPCRRN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OldPropertyStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PropertyParticularsURL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EarliestMoveDate" type="DateType" minOccurs="0"/>
			<xsd:element name="LatestMoveDate" type="DateType" minOccurs="0"/>
			<xsd:element name="PropertyPlacedOnMarket" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="DatePropertyPlacedOnTheMarket" type="DateType" minOccurs="0"/>
			<xsd:element name="AgentName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SittingTenant" type="xsd:boolean" minOccurs="0"/>
			<!--extension done by TM-->
			<!--end of extension done by TM-->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Q1EPCType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="VendorProviding"/>
			<xsd:enumeration value="FreeEPCWithHC"/>
			<xsd:enumeration value="UpfrontEPC"/>
			<xsd:enumeration value="EPCExempt"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Q1TenantPartyType">
		<xsd:sequence>
			<xsd:element name="Name" type="Q1NameType"/>
			<xsd:element name="Person" type="Q1PersonType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Organization" type="Q1OrganizationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Contact" type="Q1ContactType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MailingAddress" type="Q1MailingAddressType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Q1TransactionInformationType">
		<xsd:sequence>
			<xsd:element name="InstructionDate" type="DateType"/>
			<xsd:element name="TransactionReference" type="ec:ReferenceType" maxOccurs="unbounded"/>
			<xsd:element name="Reference" type="Q1ReferenceType" minOccurs="0" maxOccurs="3"/>
			<xsd:element name="ConveyancerParty" type="Q1ConveyancerPartyType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="BusinessInstructorParty" type="Q1BusinessInstructorPartyType" minOccurs="0"/>
			<xsd:element name="BusinessOriginatorParty" type="Q1BusinessOriginatorPartyType" minOccurs="0"/>
			<xsd:element name="InstructionMetaData" type="ec:MetaDataType" minOccurs="0"/>
			<xsd:element name="IntroducerParty" type="Q1PartyType" minOccurs="0"/>
			<xsd:element name="Panel" type="Q1PartyType" minOccurs="0"/>
			<xsd:element name="PropertyLawyer" type="Q1PartyType" minOccurs="0"/>
			<!--extension done by TM-->
			<!--end of extension done by TM-->
		</xsd:sequence>
	</xsd:complexType>
	<!--Datatypes-->
	<xsd:complexType name="AmountType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="currencyID" type="AmountCurrencyIDContentType" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ChannelCodeType">
		<xsd:simpleContent>
			<xsd:extension base="ChannelCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ConsentGivenCodeType">
		<xsd:simpleContent>
			<xsd:extension base="ConsentGivenCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ConsentRequiredCodeType">
		<xsd:simpleContent>
			<xsd:extension base="ConsentRequiredCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DateType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:date"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DateTimeType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:dateTime"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="IndicatorType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:boolean"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="InstructionTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="InstructionTypeCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="InsurancePolicyTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="InsurancePolicyTypeCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="InsuranceResponsibilityCodeType">
		<xsd:simpleContent>
			<xsd:extension base="InsuranceResponsibilityCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LeaseTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="LeaseTypeCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MeasureType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unitCode" type="MeasureUnitCodeContentType" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="NumericType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="OrganizationTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="OrganizationTypeCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Q1BinaryObjectType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:base64Binary">
				<xsd:attribute name="filename" type="xsd:string" use="optional"/>
				<xsd:attribute name="format" type="xsd:string" use="optional"/>
				<xsd:attribute name="characterSetCode" type="xsd:normalizedString" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Q1IdentifierType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Q1NameType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Q1TextType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="RateType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="RelationshipCodeType">
		<xsd:simpleContent>
			<xsd:extension base="RelationshipCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="RepaymentTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="RepaymentTypeCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TenureTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="TenureTypeCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="UKCountryCodeType">
		<xsd:simpleContent>
			<xsd:extension base="UKCountryCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="UKCountyCodeType">
		<xsd:simpleContent>
			<xsd:extension base="UKCountyCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--Contenttypes-->
	<xsd:simpleType name="AmountCurrencyIDContentType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="AED"/>
			<xsd:enumeration value="AFN"/>
			<xsd:enumeration value="ALL"/>
			<xsd:enumeration value="AMD"/>
			<xsd:enumeration value="ANG"/>
			<xsd:enumeration value="AOA"/>
			<xsd:enumeration value="ARS"/>
			<xsd:enumeration value="AUD"/>
			<xsd:enumeration value="AWG"/>
			<xsd:enumeration value="AZM"/>
			<xsd:enumeration value="BAM"/>
			<xsd:enumeration value="BBD"/>
			<xsd:enumeration value="BDT"/>
			<xsd:enumeration value="BGN"/>
			<xsd:enumeration value="BHD"/>
			<xsd:enumeration value="BIF"/>
			<xsd:enumeration value="BMD"/>
			<xsd:enumeration value="BND"/>
			<xsd:enumeration value="BOB"/>
			<xsd:enumeration value="BRL"/>
			<xsd:enumeration value="BSD"/>
			<xsd:enumeration value="BTN"/>
			<xsd:enumeration value="BWP"/>
			<xsd:enumeration value="BYR"/>
			<xsd:enumeration value="BZD"/>
			<xsd:enumeration value="CAD"/>
			<xsd:enumeration value="CDF"/>
			<xsd:enumeration value="CHE"/>
			<xsd:enumeration value="CHF"/>
			<xsd:enumeration value="CHW"/>
			<xsd:enumeration value="CLP"/>
			<xsd:enumeration value="CNY"/>
			<xsd:enumeration value="COP"/>
			<xsd:enumeration value="COU"/>
			<xsd:enumeration value="CRC"/>
			<xsd:enumeration value="CSD"/>
			<xsd:enumeration value="CUP"/>
			<xsd:enumeration value="CVE"/>
			<xsd:enumeration value="CYP"/>
			<xsd:enumeration value="CZK"/>
			<xsd:enumeration value="DJF"/>
			<xsd:enumeration value="DKK"/>
			<xsd:enumeration value="DOP"/>
			<xsd:enumeration value="DZD"/>
			<xsd:enumeration value="EEK"/>
			<xsd:enumeration value="EGP"/>
			<xsd:enumeration value="ERN"/>
			<xsd:enumeration value="ETB"/>
			<xsd:enumeration value="EUR"/>
			<xsd:enumeration value="FJD"/>
			<xsd:enumeration value="FKP"/>
			<xsd:enumeration value="GBP"/>
			<xsd:enumeration value="GEL"/>
			<xsd:enumeration value="GHC"/>
			<xsd:enumeration value="GIP"/>
			<xsd:enumeration value="GMD"/>
			<xsd:enumeration value="GNF"/>
			<xsd:enumeration value="GTQ"/>
			<xsd:enumeration value="GYD"/>
			<xsd:enumeration value="HKD"/>
			<xsd:enumeration value="HNL"/>
			<xsd:enumeration value="HRK"/>
			<xsd:enumeration value="HTG"/>
			<xsd:enumeration value="HUF"/>
			<xsd:enumeration value="IDR"/>
			<xsd:enumeration value="ILS"/>
			<xsd:enumeration value="INR"/>
			<xsd:enumeration value="IQD"/>
			<xsd:enumeration value="IRR"/>
			<xsd:enumeration value="ISK"/>
			<xsd:enumeration value="JMD"/>
			<xsd:enumeration value="JOD"/>
			<xsd:enumeration value="JPY"/>
			<xsd:enumeration value="KES"/>
			<xsd:enumeration value="KGS"/>
			<xsd:enumeration value="KHR"/>
			<xsd:enumeration value="KMF"/>
			<xsd:enumeration value="KPW"/>
			<xsd:enumeration value="KRW"/>
			<xsd:enumeration value="KWD"/>
			<xsd:enumeration value="KYD"/>
			<xsd:enumeration value="KZT"/>
			<xsd:enumeration value="LAK"/>
			<xsd:enumeration value="LBP"/>
			<xsd:enumeration value="LKR"/>
			<xsd:enumeration value="LRD"/>
			<xsd:enumeration value="LSL"/>
			<xsd:enumeration value="LTL"/>
			<xsd:enumeration value="LVL"/>
			<xsd:enumeration value="LYD"/>
			<xsd:enumeration value="MAD"/>
			<xsd:enumeration value="MDL"/>
			<xsd:enumeration value="MGA"/>
			<xsd:enumeration value="MKD"/>
			<xsd:enumeration value="MMK"/>
			<xsd:enumeration value="MNT"/>
			<xsd:enumeration value="MOP"/>
			<xsd:enumeration value="MRO"/>
			<xsd:enumeration value="MTL"/>
			<xsd:enumeration value="MUR"/>
			<xsd:enumeration value="MVR"/>
			<xsd:enumeration value="MWK"/>
			<xsd:enumeration value="MXN"/>
			<xsd:enumeration value="MYR"/>
			<xsd:enumeration value="MZM"/>
			<xsd:enumeration value="NAD"/>
			<xsd:enumeration value="NGN"/>
			<xsd:enumeration value="NIO"/>
			<xsd:enumeration value="NOK"/>
			<xsd:enumeration value="NPR"/>
			<xsd:enumeration value="NZD"/>
			<xsd:enumeration value="OMR"/>
			<xsd:enumeration value="PAB"/>
			<xsd:enumeration value="PEN"/>
			<xsd:enumeration value="PGK"/>
			<xsd:enumeration value="PHP"/>
			<xsd:enumeration value="PKR"/>
			<xsd:enumeration value="PLN"/>
			<xsd:enumeration value="PYG"/>
			<xsd:enumeration value="QAR"/>
			<xsd:enumeration value="ROL"/>
			<xsd:enumeration value="RON"/>
			<xsd:enumeration value="RUB"/>
			<xsd:enumeration value="RWF"/>
			<xsd:enumeration value="SAR"/>
			<xsd:enumeration value="SBD"/>
			<xsd:enumeration value="SCR"/>
			<xsd:enumeration value="SDD"/>
			<xsd:enumeration value="SEK"/>
			<xsd:enumeration value="SGD"/>
			<xsd:enumeration value="SHP"/>
			<xsd:enumeration value="SIT"/>
			<xsd:enumeration value="SKK"/>
			<xsd:enumeration value="SLL"/>
			<xsd:enumeration value="SOS"/>
			<xsd:enumeration value="SRD"/>
			<xsd:enumeration value="STD"/>
			<xsd:enumeration value="SVC"/>
			<xsd:enumeration value="SYP"/>
			<xsd:enumeration value="SZL"/>
			<xsd:enumeration value="THB"/>
			<xsd:enumeration value="TJS"/>
			<xsd:enumeration value="TMM"/>
			<xsd:enumeration value="TND"/>
			<xsd:enumeration value="TOP"/>
			<xsd:enumeration value="TRL"/>
			<xsd:enumeration value="TRY"/>
			<xsd:enumeration value="TTD"/>
			<xsd:enumeration value="TWD"/>
			<xsd:enumeration value="TZS"/>
			<xsd:enumeration value="UAH"/>
			<xsd:enumeration value="UGX"/>
			<xsd:enumeration value="USD"/>
			<xsd:enumeration value="UYU"/>
			<xsd:enumeration value="UZS"/>
			<xsd:enumeration value="VEB"/>
			<xsd:enumeration value="VND"/>
			<xsd:enumeration value="VUV"/>
			<xsd:enumeration value="WST"/>
			<xsd:enumeration value="XAF"/>
			<xsd:enumeration value="XAG"/>
			<xsd:enumeration value="XAU"/>
			<xsd:enumeration value="XCD"/>
			<xsd:enumeration value="XDR"/>
			<xsd:enumeration value="XOF"/>
			<xsd:enumeration value="XPD"/>
			<xsd:enumeration value="XPF"/>
			<xsd:enumeration value="XPT"/>
			<xsd:enumeration value="YER"/>
			<xsd:enumeration value="ZAR"/>
			<xsd:enumeration value="ZMK"/>
			<xsd:enumeration value="ZWD"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ChannelCodeContentType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="AA"/>
			<xsd:enumeration value="AB"/>
			<xsd:enumeration value="AC"/>
			<xsd:enumeration value="AD"/>
			<xsd:enumeration value="AE"/>
			<xsd:enumeration value="AF"/>
			<xsd:enumeration value="AG"/>
			<xsd:enumeration value="AH"/>
			<xsd:enumeration value="AI"/>
			<xsd:enumeration value="AJ"/>
			<xsd:enumeration value="AK"/>
			<xsd:enumeration value="AL"/>
			<xsd:enumeration value="AM"/>
			<xsd:enumeration value="AN"/>
			<xsd:enumeration value="AO"/>
			<xsd:enumeration value="AP"/>
			<xsd:enumeration value="CA"/>
			<xsd:enumeration value="DX"/>
			<xsd:enumeration value="EI"/>
			<xsd:enumeration value="EM"/>
			<xsd:enumeration value="EX"/>
			<xsd:enumeration value="FT"/>
			<xsd:enumeration value="FX"/>
			<xsd:enumeration value="GM"/>
			<xsd:enumeration value="IE"/>
			<xsd:enumeration value="IM"/>
			<xsd:enumeration value="MA"/>
			<xsd:enumeration value="PB"/>
			<xsd:enumeration value="PS"/>
			<xsd:enumeration value="SW"/>
			<xsd:enumeration value="TE"/>
			<xsd:enumeration value="TG"/>
			<xsd:enumeration value="TL"/>
			<xsd:enumeration value="TM"/>
			<xsd:enumeration value="TT"/>
			<xsd:enumeration value="TX"/>
			<xsd:enumeration value="XF"/>
			<xsd:enumeration value="XG"/>
			<xsd:enumeration value="XH"/>
			<xsd:enumeration value="XI"/>
			<xsd:enumeration value="XJ"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ConsentGivenCodeContentType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="20"/>
			<xsd:enumeration value="30"/>
			<xsd:enumeration value="40"/>
			<xsd:enumeration value="50"/>
			<xsd:enumeration value="60"/>
			<xsd:enumeration value="70"/>
			<xsd:enumeration value="80"/>
			<xsd:enumeration value="90"/>
			<xsd:enumeration value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ConsentRequiredCodeContentType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="20"/>
			<xsd:enumeration value="30"/>
			<xsd:enumeration value="40"/>
			<xsd:enumeration value="50"/>
			<xsd:enumeration value="60"/>
			<xsd:enumeration value="70"/>
			<xsd:enumeration value="80"/>
			<xsd:enumeration value="90"/>
			<xsd:enumeration value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InstructionTypeCodeContentType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="20"/>
			<xsd:enumeration value="30"/>
			<xsd:enumeration value="40"/>
			<xsd:enumeration value="50"/>
			<xsd:enumeration value="60"/>
			<xsd:enumeration value="70"/>
			<xsd:enumeration value="80"/>
			<xsd:enumeration value="90"/>
			<xsd:enumeration value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InsurancePolicyTypeCodeContentType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="20"/>
			<xsd:enumeration value="30"/>
			<xsd:enumeration value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InsuranceResponsibilityCodeContentType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="05"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="20"/>
			<xsd:enumeration value="30"/>
			<xsd:enumeration value="40"/>
			<xsd:enumeration value="50"/>
			<xsd:enumeration value="60"/>
			<xsd:enumeration value="70"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LeaseTypeCodeContentType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MeasureUnitCodeContentType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="04"/>
			<xsd:enumeration value="05"/>
			<xsd:enumeration value="08"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="11"/>
			<xsd:enumeration value="13"/>
			<xsd:enumeration value="14"/>
			<xsd:enumeration value="15"/>
			<xsd:enumeration value="16"/>
			<xsd:enumeration value="17"/>
			<xsd:enumeration value="18"/>
			<xsd:enumeration value="19"/>
			<xsd:enumeration value="20"/>
			<xsd:enumeration value="21"/>
			<xsd:enumeration value="22"/>
			<xsd:enumeration value="23"/>
			<xsd:enumeration value="24"/>
			<xsd:enumeration value="25"/>
			<xsd:enumeration value="26"/>
			<xsd:enumeration value="27"/>
			<xsd:enumeration value="28"/>
			<xsd:enumeration value="29"/>
			<xsd:enumeration value="30"/>
			<xsd:enumeration value="31"/>
			<xsd:enumeration value="32"/>
			<xsd:enumeration value="33"/>
			<xsd:enumeration value="34"/>
			<xsd:enumeration value="35"/>
			<xsd:enumeration value="36"/>
			<xsd:enumeration value="37"/>
			<xsd:enumeration value="38"/>
			<xsd:enumeration value="40"/>
			<xsd:enumeration value="41"/>
			<xsd:enumeration value="43"/>
			<xsd:enumeration value="44"/>
			<xsd:enumeration value="45"/>
			<xsd:enumeration value="46"/>
			<xsd:enumeration value="47"/>
			<xsd:enumeration value="48"/>
			<xsd:enumeration value="53"/>
			<xsd:enumeration value="54"/>
			<xsd:enumeration value="56"/>
			<xsd:enumeration value="57"/>
			<xsd:enumeration value="58"/>
			<xsd:enumeration value="59"/>
			<xsd:enumeration value="60"/>
			<xsd:enumeration value="61"/>
			<xsd:enumeration value="62"/>
			<xsd:enumeration value="63"/>
			<xsd:enumeration value="64"/>
			<xsd:enumeration value="66"/>
			<xsd:enumeration value="69"/>
			<xsd:enumeration value="71"/>
			<xsd:enumeration value="72"/>
			<xsd:enumeration value="73"/>
			<xsd:enumeration value="74"/>
			<xsd:enumeration value="76"/>
			<xsd:enumeration value="77"/>
			<xsd:enumeration value="78"/>
			<xsd:enumeration value="80"/>
			<xsd:enumeration value="81"/>
			<xsd:enumeration value="84"/>
			<xsd:enumeration value="85"/>
			<xsd:enumeration value="87"/>
			<xsd:enumeration value="89"/>
			<xsd:enumeration value="90"/>
			<xsd:enumeration value="91"/>
			<xsd:enumeration value="92"/>
			<xsd:enumeration value="93"/>
			<xsd:enumeration value="94"/>
			<xsd:enumeration value="95"/>
			<xsd:enumeration value="96"/>
			<xsd:enumeration value="97"/>
			<xsd:enumeration value="98"/>
			<xsd:enumeration value="1A"/>
			<xsd:enumeration value="1B"/>
			<xsd:enumeration value="1C"/>
			<xsd:enumeration value="1D"/>
			<xsd:enumeration value="1E"/>
			<xsd:enumeration value="1F"/>
			<xsd:enumeration value="1G"/>
			<xsd:enumeration value="1H"/>
			<xsd:enumeration value="1I"/>
			<xsd:enumeration value="1J"/>
			<xsd:enumeration value="1K"/>
			<xsd:enumeration value="1L"/>
			<xsd:enumeration value="1M"/>
			<xsd:enumeration value="1X"/>
			<xsd:enumeration value="2A"/>
			<xsd:enumeration value="2B"/>
			<xsd:enumeration value="2C"/>
			<xsd:enumeration value="2I"/>
			<xsd:enumeration value="2J"/>
			<xsd:enumeration value="2K"/>
			<xsd:enumeration value="2L"/>
			<xsd:enumeration value="2M"/>
			<xsd:enumeration value="2N"/>
			<xsd:enumeration value="2P"/>
			<xsd:enumeration value="2Q"/>
			<xsd:enumeration value="2R"/>
			<xsd:enumeration value="2U"/>
			<xsd:enumeration value="2V"/>
			<xsd:enumeration value="2W"/>
			<xsd:enumeration value="2X"/>
			<xsd:enumeration value="2Y"/>
			<xsd:enumeration value="2Z"/>
			<xsd:enumeration value="3B"/>
			<xsd:enumeration value="3C"/>
			<xsd:enumeration value="3E"/>
			<xsd:enumeration value="3G"/>
			<xsd:enumeration value="3H"/>
			<xsd:enumeration value="3I"/>
			<xsd:enumeration value="4A"/>
			<xsd:enumeration value="4B"/>
			<xsd:enumeration value="4C"/>
			<xsd:enumeration value="4E"/>
			<xsd:enumeration value="4G"/>
			<xsd:enumeration value="4H"/>
			<xsd:enumeration value="4K"/>
			<xsd:enumeration value="4L"/>
			<xsd:enumeration value="4M"/>
			<xsd:enumeration value="4N"/>
			<xsd:enumeration value="4O"/>
			<xsd:enumeration value="4P"/>
			<xsd:enumeration value="4Q"/>
			<xsd:enumeration value="4R"/>
			<xsd:enumeration value="4T"/>
			<xsd:enumeration value="4U"/>
			<xsd:enumeration value="4W"/>
			<xsd:enumeration value="4X"/>
			<xsd:enumeration value="5A"/>
			<xsd:enumeration value="5B"/>
			<xsd:enumeration value="5C"/>
			<xsd:enumeration value="5E"/>
			<xsd:enumeration value="5F"/>
			<xsd:enumeration value="5G"/>
			<xsd:enumeration value="5H"/>
			<xsd:enumeration value="5I"/>
			<xsd:enumeration value="5J"/>
			<xsd:enumeration value="5K"/>
			<xsd:enumeration value="5P"/>
			<xsd:enumeration value="5Q"/>
			<xsd:enumeration value="A1"/>
			<xsd:enumeration value="A10"/>
			<xsd:enumeration value="A11"/>
			<xsd:enumeration value="A12"/>
			<xsd:enumeration value="A13"/>
			<xsd:enumeration value="A14"/>
			<xsd:enumeration value="A15"/>
			<xsd:enumeration value="A16"/>
			<xsd:enumeration value="A17"/>
			<xsd:enumeration value="A18"/>
			<xsd:enumeration value="A19"/>
			<xsd:enumeration value="A2"/>
			<xsd:enumeration value="A20"/>
			<xsd:enumeration value="A21"/>
			<xsd:enumeration value="A22"/>
			<xsd:enumeration value="A23"/>
			<xsd:enumeration value="A24"/>
			<xsd:enumeration value="A25"/>
			<xsd:enumeration value="A26"/>
			<xsd:enumeration value="A27"/>
			<xsd:enumeration value="A28"/>
			<xsd:enumeration value="A29"/>
			<xsd:enumeration value="A3"/>
			<xsd:enumeration value="A30"/>
			<xsd:enumeration value="A31"/>
			<xsd:enumeration value="A32"/>
			<xsd:enumeration value="A33"/>
			<xsd:enumeration value="A34"/>
			<xsd:enumeration value="A35"/>
			<xsd:enumeration value="A36"/>
			<xsd:enumeration value="A37"/>
			<xsd:enumeration value="A38"/>
			<xsd:enumeration value="A39"/>
			<xsd:enumeration value="A4"/>
			<xsd:enumeration value="A40"/>
			<xsd:enumeration value="A41"/>
			<xsd:enumeration value="A42"/>
			<xsd:enumeration value="A43"/>
			<xsd:enumeration value="A44"/>
			<xsd:enumeration value="A45"/>
			<xsd:enumeration value="A47"/>
			<xsd:enumeration value="A48"/>
			<xsd:enumeration value="A49"/>
			<xsd:enumeration value="A5"/>
			<xsd:enumeration value="A50"/>
			<xsd:enumeration value="A51"/>
			<xsd:enumeration value="A52"/>
			<xsd:enumeration value="A53"/>
			<xsd:enumeration value="A54"/>
			<xsd:enumeration value="A55"/>
			<xsd:enumeration value="A56"/>
			<xsd:enumeration value="A57"/>
			<xsd:enumeration value="A58"/>
			<xsd:enumeration value="A6"/>
			<xsd:enumeration value="A60"/>
			<xsd:enumeration value="A61"/>
			<xsd:enumeration value="A62"/>
			<xsd:enumeration value="A63"/>
			<xsd:enumeration value="A64"/>
			<xsd:enumeration value="A65"/>
			<xsd:enumeration value="A66"/>
			<xsd:enumeration value="A67"/>
			<xsd:enumeration value="A68"/>
			<xsd:enumeration value="A69"/>
			<xsd:enumeration value="A7"/>
			<xsd:enumeration value="A70"/>
			<xsd:enumeration value="A71"/>
			<xsd:enumeration value="A73"/>
			<xsd:enumeration value="A74"/>
			<xsd:enumeration value="A75"/>
			<xsd:enumeration value="A76"/>
			<xsd:enumeration value="A77"/>
			<xsd:enumeration value="A78"/>
			<xsd:enumeration value="A79"/>
			<xsd:enumeration value="A8"/>
			<xsd:enumeration value="A80"/>
			<xsd:enumeration value="A81"/>
			<xsd:enumeration value="A82"/>
			<xsd:enumeration value="A83"/>
			<xsd:enumeration value="A84"/>
			<xsd:enumeration value="A85"/>
			<xsd:enumeration value="A86"/>
			<xsd:enumeration value="A87"/>
			<xsd:enumeration value="A88"/>
			<xsd:enumeration value="A89"/>
			<xsd:enumeration value="A9"/>
			<xsd:enumeration value="A90"/>
			<xsd:enumeration value="A91"/>
			<xsd:enumeration value="A93"/>
			<xsd:enumeration value="A94"/>
			<xsd:enumeration value="A95"/>
			<xsd:enumeration value="A96"/>
			<xsd:enumeration value="A97"/>
			<xsd:enumeration value="A98"/>
			<xsd:enumeration value="AA"/>
			<xsd:enumeration value="AB"/>
			<xsd:enumeration value="ACR"/>
			<xsd:enumeration value="AD"/>
			<xsd:enumeration value="AE"/>
			<xsd:enumeration value="AH"/>
			<xsd:enumeration value="AI"/>
			<xsd:enumeration value="AJ"/>
			<xsd:enumeration value="AK"/>
			<xsd:enumeration value="AL"/>
			<xsd:enumeration value="AM"/>
			<xsd:enumeration value="AMH"/>
			<xsd:enumeration value="AMP"/>
			<xsd:enumeration value="ANN"/>
			<xsd:enumeration value="AP"/>
			<xsd:enumeration value="APZ"/>
			<xsd:enumeration value="AQ"/>
			<xsd:enumeration value="AR"/>
			<xsd:enumeration value="ARE"/>
			<xsd:enumeration value="AS"/>
			<xsd:enumeration value="ASM"/>
			<xsd:enumeration value="ASU"/>
			<xsd:enumeration value="ATM"/>
			<xsd:enumeration value="ATT"/>
			<xsd:enumeration value="AV"/>
			<xsd:enumeration value="AW"/>
			<xsd:enumeration value="AY"/>
			<xsd:enumeration value="AZ"/>
			<xsd:enumeration value="B0"/>
			<xsd:enumeration value="B1"/>
			<xsd:enumeration value="B11"/>
			<xsd:enumeration value="B12"/>
			<xsd:enumeration value="B13"/>
			<xsd:enumeration value="B14"/>
			<xsd:enumeration value="B15"/>
			<xsd:enumeration value="B16"/>
			<xsd:enumeration value="B18"/>
			<xsd:enumeration value="B2"/>
			<xsd:enumeration value="B20"/>
			<xsd:enumeration value="B21"/>
			<xsd:enumeration value="B22"/>
			<xsd:enumeration value="B23"/>
			<xsd:enumeration value="B24"/>
			<xsd:enumeration value="B25"/>
			<xsd:enumeration value="B26"/>
			<xsd:enumeration value="B27"/>
			<xsd:enumeration value="B28"/>
			<xsd:enumeration value="B29"/>
			<xsd:enumeration value="B3"/>
			<xsd:enumeration value="B31"/>
			<xsd:enumeration value="B32"/>
			<xsd:enumeration value="B33"/>
			<xsd:enumeration value="B34"/>
			<xsd:enumeration value="B35"/>
			<xsd:enumeration value="B36"/>
			<xsd:enumeration value="B37"/>
			<xsd:enumeration value="B38"/>
			<xsd:enumeration value="B39"/>
			<xsd:enumeration value="B4"/>
			<xsd:enumeration value="B40"/>
			<xsd:enumeration value="B41"/>
			<xsd:enumeration value="B42"/>
			<xsd:enumeration value="B43"/>
			<xsd:enumeration value="B44"/>
			<xsd:enumeration value="B45"/>
			<xsd:enumeration value="B46"/>
			<xsd:enumeration value="B47"/>
			<xsd:enumeration value="B48"/>
			<xsd:enumeration value="B49"/>
			<xsd:enumeration value="B5"/>
			<xsd:enumeration value="B50"/>
			<xsd:enumeration value="B51"/>
			<xsd:enumeration value="B52"/>
			<xsd:enumeration value="B53"/>
			<xsd:enumeration value="B54"/>
			<xsd:enumeration value="B55"/>
			<xsd:enumeration value="B56"/>
			<xsd:enumeration value="B57"/>
			<xsd:enumeration value="B58"/>
			<xsd:enumeration value="B59"/>
			<xsd:enumeration value="B6"/>
			<xsd:enumeration value="B60"/>
			<xsd:enumeration value="B61"/>
			<xsd:enumeration value="B62"/>
			<xsd:enumeration value="B63"/>
			<xsd:enumeration value="B64"/>
			<xsd:enumeration value="B65"/>
			<xsd:enumeration value="B66"/>
			<xsd:enumeration value="B67"/>
			<xsd:enumeration value="B69"/>
			<xsd:enumeration value="B7"/>
			<xsd:enumeration value="B70"/>
			<xsd:enumeration value="B71"/>
			<xsd:enumeration value="B72"/>
			<xsd:enumeration value="B73"/>
			<xsd:enumeration value="B74"/>
			<xsd:enumeration value="B75"/>
			<xsd:enumeration value="B76"/>
			<xsd:enumeration value="B77"/>
			<xsd:enumeration value="B78"/>
			<xsd:enumeration value="B79"/>
			<xsd:enumeration value="B8"/>
			<xsd:enumeration value="B81"/>
			<xsd:enumeration value="B83"/>
			<xsd:enumeration value="B84"/>
			<xsd:enumeration value="B85"/>
			<xsd:enumeration value="B86"/>
			<xsd:enumeration value="B87"/>
			<xsd:enumeration value="B88"/>
			<xsd:enumeration value="B89"/>
			<xsd:enumeration value="B9"/>
			<xsd:enumeration value="B90"/>
			<xsd:enumeration value="B91"/>
			<xsd:enumeration value="B92"/>
			<xsd:enumeration value="B93"/>
			<xsd:enumeration value="B94"/>
			<xsd:enumeration value="B95"/>
			<xsd:enumeration value="B96"/>
			<xsd:enumeration value="B97"/>
			<xsd:enumeration value="B98"/>
			<xsd:enumeration value="B99"/>
			<xsd:enumeration value="BAR"/>
			<xsd:enumeration value="BB"/>
			<xsd:enumeration value="BD"/>
			<xsd:enumeration value="BE"/>
			<xsd:enumeration value="BFT"/>
			<xsd:enumeration value="BG"/>
			<xsd:enumeration value="BH"/>
			<xsd:enumeration value="BHP"/>
			<xsd:enumeration value="BIL"/>
			<xsd:enumeration value="BJ"/>
			<xsd:enumeration value="BK"/>
			<xsd:enumeration value="BL"/>
			<xsd:enumeration value="BLD"/>
			<xsd:enumeration value="BLL"/>
			<xsd:enumeration value="BO"/>
			<xsd:enumeration value="BP"/>
			<xsd:enumeration value="BQL"/>
			<xsd:enumeration value="BR"/>
			<xsd:enumeration value="BT"/>
			<xsd:enumeration value="BTU"/>
			<xsd:enumeration value="BUA"/>
			<xsd:enumeration value="BUI"/>
			<xsd:enumeration value="BW"/>
			<xsd:enumeration value="BX"/>
			<xsd:enumeration value="BZ"/>
			<xsd:enumeration value="C0"/>
			<xsd:enumeration value="C1"/>
			<xsd:enumeration value="C10"/>
			<xsd:enumeration value="C11"/>
			<xsd:enumeration value="C12"/>
			<xsd:enumeration value="C13"/>
			<xsd:enumeration value="C14"/>
			<xsd:enumeration value="C15"/>
			<xsd:enumeration value="C16"/>
			<xsd:enumeration value="C17"/>
			<xsd:enumeration value="C18"/>
			<xsd:enumeration value="C19"/>
			<xsd:enumeration value="C2"/>
			<xsd:enumeration value="C20"/>
			<xsd:enumeration value="C22"/>
			<xsd:enumeration value="C23"/>
			<xsd:enumeration value="C24"/>
			<xsd:enumeration value="C25"/>
			<xsd:enumeration value="C26"/>
			<xsd:enumeration value="C27"/>
			<xsd:enumeration value="C28"/>
			<xsd:enumeration value="C29"/>
			<xsd:enumeration value="C3"/>
			<xsd:enumeration value="C30"/>
			<xsd:enumeration value="C31"/>
			<xsd:enumeration value="C32"/>
			<xsd:enumeration value="C33"/>
			<xsd:enumeration value="C34"/>
			<xsd:enumeration value="C35"/>
			<xsd:enumeration value="C36"/>
			<xsd:enumeration value="C38"/>
			<xsd:enumeration value="C39"/>
			<xsd:enumeration value="C4"/>
			<xsd:enumeration value="C40"/>
			<xsd:enumeration value="C41"/>
			<xsd:enumeration value="C42"/>
			<xsd:enumeration value="C43"/>
			<xsd:enumeration value="C44"/>
			<xsd:enumeration value="C45"/>
			<xsd:enumeration value="C46"/>
			<xsd:enumeration value="C47"/>
			<xsd:enumeration value="C48"/>
			<xsd:enumeration value="C49"/>
			<xsd:enumeration value="C5"/>
			<xsd:enumeration value="C50"/>
			<xsd:enumeration value="C51"/>
			<xsd:enumeration value="C52"/>
			<xsd:enumeration value="C53"/>
			<xsd:enumeration value="C54"/>
			<xsd:enumeration value="C55"/>
			<xsd:enumeration value="C56"/>
			<xsd:enumeration value="C57"/>
			<xsd:enumeration value="C58"/>
			<xsd:enumeration value="C59"/>
			<xsd:enumeration value="C6"/>
			<xsd:enumeration value="C60"/>
			<xsd:enumeration value="C61"/>
			<xsd:enumeration value="C62"/>
			<xsd:enumeration value="C63"/>
			<xsd:enumeration value="C64"/>
			<xsd:enumeration value="C65"/>
			<xsd:enumeration value="C66"/>
			<xsd:enumeration value="C67"/>
			<xsd:enumeration value="C68"/>
			<xsd:enumeration value="C69"/>
			<xsd:enumeration value="C7"/>
			<xsd:enumeration value="C70"/>
			<xsd:enumeration value="C71"/>
			<xsd:enumeration value="C72"/>
			<xsd:enumeration value="C73"/>
			<xsd:enumeration value="C75"/>
			<xsd:enumeration value="C76"/>
			<xsd:enumeration value="C77"/>
			<xsd:enumeration value="C78"/>
			<xsd:enumeration value="C8"/>
			<xsd:enumeration value="C80"/>
			<xsd:enumeration value="C81"/>
			<xsd:enumeration value="C82"/>
			<xsd:enumeration value="C83"/>
			<xsd:enumeration value="C84"/>
			<xsd:enumeration value="C85"/>
			<xsd:enumeration value="C86"/>
			<xsd:enumeration value="C87"/>
			<xsd:enumeration value="C88"/>
			<xsd:enumeration value="C89"/>
			<xsd:enumeration value="C9"/>
			<xsd:enumeration value="C90"/>
			<xsd:enumeration value="C91"/>
			<xsd:enumeration value="C92"/>
			<xsd:enumeration value="C93"/>
			<xsd:enumeration value="C94"/>
			<xsd:enumeration value="C95"/>
			<xsd:enumeration value="C96"/>
			<xsd:enumeration value="C97"/>
			<xsd:enumeration value="C98"/>
			<xsd:enumeration value="C99"/>
			<xsd:enumeration value="CA"/>
			<xsd:enumeration value="CCT"/>
			<xsd:enumeration value="CDL"/>
			<xsd:enumeration value="CEL"/>
			<xsd:enumeration value="CEN"/>
			<xsd:enumeration value="CG"/>
			<xsd:enumeration value="CGM"/>
			<xsd:enumeration value="CH"/>
			<xsd:enumeration value="CJ"/>
			<xsd:enumeration value="CK"/>
			<xsd:enumeration value="CKG"/>
			<xsd:enumeration value="CL"/>
			<xsd:enumeration value="CLF"/>
			<xsd:enumeration value="CLT"/>
			<xsd:enumeration value="CMK"/>
			<xsd:enumeration value="CMQ"/>
			<xsd:enumeration value="CMT"/>
			<xsd:enumeration value="CNP"/>
			<xsd:enumeration value="CNT"/>
			<xsd:enumeration value="CO"/>
			<xsd:enumeration value="COU"/>
			<xsd:enumeration value="CQ"/>
			<xsd:enumeration value="CR"/>
			<xsd:enumeration value="CS"/>
			<xsd:enumeration value="CT"/>
			<xsd:enumeration value="CTM"/>
			<xsd:enumeration value="CU"/>
			<xsd:enumeration value="CUR"/>
			<xsd:enumeration value="CV"/>
			<xsd:enumeration value="CWA"/>
			<xsd:enumeration value="CWI"/>
			<xsd:enumeration value="CY"/>
			<xsd:enumeration value="CZ"/>
			<xsd:enumeration value="D1"/>
			<xsd:enumeration value="D10"/>
			<xsd:enumeration value="D12"/>
			<xsd:enumeration value="D13"/>
			<xsd:enumeration value="D14"/>
			<xsd:enumeration value="D15"/>
			<xsd:enumeration value="D16"/>
			<xsd:enumeration value="D17"/>
			<xsd:enumeration value="D18"/>
			<xsd:enumeration value="D19"/>
			<xsd:enumeration value="D2"/>
			<xsd:enumeration value="D20"/>
			<xsd:enumeration value="D21"/>
			<xsd:enumeration value="D22"/>
			<xsd:enumeration value="D23"/>
			<xsd:enumeration value="D24"/>
			<xsd:enumeration value="D25"/>
			<xsd:enumeration value="D26"/>
			<xsd:enumeration value="D27"/>
			<xsd:enumeration value="D28"/>
			<xsd:enumeration value="D29"/>
			<xsd:enumeration value="D30"/>
			<xsd:enumeration value="D31"/>
			<xsd:enumeration value="D32"/>
			<xsd:enumeration value="D33"/>
			<xsd:enumeration value="D34"/>
			<xsd:enumeration value="D35"/>
			<xsd:enumeration value="D37"/>
			<xsd:enumeration value="D38"/>
			<xsd:enumeration value="D39"/>
			<xsd:enumeration value="D40"/>
			<xsd:enumeration value="D41"/>
			<xsd:enumeration value="D42"/>
			<xsd:enumeration value="D43"/>
			<xsd:enumeration value="D44"/>
			<xsd:enumeration value="D45"/>
			<xsd:enumeration value="D46"/>
			<xsd:enumeration value="D47"/>
			<xsd:enumeration value="D48"/>
			<xsd:enumeration value="D49"/>
			<xsd:enumeration value="D5"/>
			<xsd:enumeration value="D50"/>
			<xsd:enumeration value="D51"/>
			<xsd:enumeration value="D52"/>
			<xsd:enumeration value="D53"/>
			<xsd:enumeration value="D54"/>
			<xsd:enumeration value="D55"/>
			<xsd:enumeration value="D56"/>
			<xsd:enumeration value="D57"/>
			<xsd:enumeration value="D58"/>
			<xsd:enumeration value="D59"/>
			<xsd:enumeration value="D6"/>
			<xsd:enumeration value="D60"/>
			<xsd:enumeration value="D61"/>
			<xsd:enumeration value="D62"/>
			<xsd:enumeration value="D63"/>
			<xsd:enumeration value="D64"/>
			<xsd:enumeration value="D65"/>
			<xsd:enumeration value="D66"/>
			<xsd:enumeration value="D67"/>
			<xsd:enumeration value="D69"/>
			<xsd:enumeration value="D7"/>
			<xsd:enumeration value="D70"/>
			<xsd:enumeration value="D71"/>
			<xsd:enumeration value="D72"/>
			<xsd:enumeration value="D73"/>
			<xsd:enumeration value="D74"/>
			<xsd:enumeration value="D75"/>
			<xsd:enumeration value="D76"/>
			<xsd:enumeration value="D77"/>
			<xsd:enumeration value="D79"/>
			<xsd:enumeration value="D8"/>
			<xsd:enumeration value="D80"/>
			<xsd:enumeration value="D81"/>
			<xsd:enumeration value="D82"/>
			<xsd:enumeration value="D83"/>
			<xsd:enumeration value="D85"/>
			<xsd:enumeration value="D86"/>
			<xsd:enumeration value="D87"/>
			<xsd:enumeration value="D88"/>
			<xsd:enumeration value="D89"/>
			<xsd:enumeration value="D9"/>
			<xsd:enumeration value="D90"/>
			<xsd:enumeration value="D91"/>
			<xsd:enumeration value="D92"/>
			<xsd:enumeration value="D93"/>
			<xsd:enumeration value="D94"/>
			<xsd:enumeration value="D95"/>
			<xsd:enumeration value="D96"/>
			<xsd:enumeration value="D97"/>
			<xsd:enumeration value="D98"/>
			<xsd:enumeration value="D99"/>
			<xsd:enumeration value="DAA"/>
			<xsd:enumeration value="DAD"/>
			<xsd:enumeration value="DAY"/>
			<xsd:enumeration value="DB"/>
			<xsd:enumeration value="DC"/>
			<xsd:enumeration value="DD"/>
			<xsd:enumeration value="DE"/>
			<xsd:enumeration value="DEC"/>
			<xsd:enumeration value="DG"/>
			<xsd:enumeration value="DI"/>
			<xsd:enumeration value="DJ"/>
			<xsd:enumeration value="DLT"/>
			<xsd:enumeration value="DMK"/>
			<xsd:enumeration value="DMQ"/>
			<xsd:enumeration value="DMT"/>
			<xsd:enumeration value="DN"/>
			<xsd:enumeration value="DPC"/>
			<xsd:enumeration value="DPR"/>
			<xsd:enumeration value="DPT"/>
			<xsd:enumeration value="DQ"/>
			<xsd:enumeration value="DR"/>
			<xsd:enumeration value="DRA"/>
			<xsd:enumeration value="DRI"/>
			<xsd:enumeration value="DRL"/>
			<xsd:enumeration value="DRM"/>
			<xsd:enumeration value="DS"/>
			<xsd:enumeration value="DT"/>
			<xsd:enumeration value="DTN"/>
			<xsd:enumeration value="DU"/>
			<xsd:enumeration value="DWT"/>
			<xsd:enumeration value="DX"/>
			<xsd:enumeration value="DY"/>
			<xsd:enumeration value="DZN"/>
			<xsd:enumeration value="DZP"/>
			<xsd:enumeration value="E2"/>
			<xsd:enumeration value="E3"/>
			<xsd:enumeration value="E4"/>
			<xsd:enumeration value="E5"/>
			<xsd:enumeration value="EA"/>
			<xsd:enumeration value="EB"/>
			<xsd:enumeration value="EC"/>
			<xsd:enumeration value="EP"/>
			<xsd:enumeration value="EQ"/>
			<xsd:enumeration value="EV"/>
			<xsd:enumeration value="F1"/>
			<xsd:enumeration value="F9"/>
			<xsd:enumeration value="FAH"/>
			<xsd:enumeration value="FAR"/>
			<xsd:enumeration value="FB"/>
			<xsd:enumeration value="FC"/>
			<xsd:enumeration value="FD"/>
			<xsd:enumeration value="FE"/>
			<xsd:enumeration value="FF"/>
			<xsd:enumeration value="FG"/>
			<xsd:enumeration value="FH"/>
			<xsd:enumeration value="FL"/>
			<xsd:enumeration value="FM"/>
			<xsd:enumeration value="FOT"/>
			<xsd:enumeration value="FP"/>
			<xsd:enumeration value="FR"/>
			<xsd:enumeration value="FS"/>
			<xsd:enumeration value="FTK"/>
			<xsd:enumeration value="FTQ"/>
			<xsd:enumeration value="G2"/>
			<xsd:enumeration value="G3"/>
			<xsd:enumeration value="G7"/>
			<xsd:enumeration value="GB"/>
			<xsd:enumeration value="GBQ"/>
			<xsd:enumeration value="GC"/>
			<xsd:enumeration value="GD"/>
			<xsd:enumeration value="GE"/>
			<xsd:enumeration value="GF"/>
			<xsd:enumeration value="GFI"/>
			<xsd:enumeration value="GGR"/>
			<xsd:enumeration value="GH"/>
			<xsd:enumeration value="GIA"/>
			<xsd:enumeration value="GII"/>
			<xsd:enumeration value="GJ"/>
			<xsd:enumeration value="GK"/>
			<xsd:enumeration value="GL"/>
			<xsd:enumeration value="GLD"/>
			<xsd:enumeration value="GLI"/>
			<xsd:enumeration value="GLL"/>
			<xsd:enumeration value="GM"/>
			<xsd:enumeration value="GN"/>
			<xsd:enumeration value="GO"/>
			<xsd:enumeration value="GP"/>
			<xsd:enumeration value="GQ"/>
			<xsd:enumeration value="GRM"/>
			<xsd:enumeration value="GRN"/>
			<xsd:enumeration value="GRO"/>
			<xsd:enumeration value="GRT"/>
			<xsd:enumeration value="GT"/>
			<xsd:enumeration value="GV"/>
			<xsd:enumeration value="GW"/>
			<xsd:enumeration value="GWH"/>
			<xsd:enumeration value="GY"/>
			<xsd:enumeration value="GZ"/>
			<xsd:enumeration value="H1"/>
			<xsd:enumeration value="H2"/>
			<xsd:enumeration value="HA"/>
			<xsd:enumeration value="HAR"/>
			<xsd:enumeration value="HBA"/>
			<xsd:enumeration value="HBX"/>
			<xsd:enumeration value="HC"/>
			<xsd:enumeration value="HD"/>
			<xsd:enumeration value="HE"/>
			<xsd:enumeration value="HF"/>
			<xsd:enumeration value="HGM"/>
			<xsd:enumeration value="HH"/>
			<xsd:enumeration value="HI"/>
			<xsd:enumeration value="HIU"/>
			<xsd:enumeration value="HJ"/>
			<xsd:enumeration value="HK"/>
			<xsd:enumeration value="HL"/>
			<xsd:enumeration value="HLT"/>
			<xsd:enumeration value="HM"/>
			<xsd:enumeration value="HMQ"/>
			<xsd:enumeration value="HMT"/>
			<xsd:enumeration value="HN"/>
			<xsd:enumeration value="HO"/>
			<xsd:enumeration value="HP"/>
			<xsd:enumeration value="HPA"/>
			<xsd:enumeration value="HS"/>
			<xsd:enumeration value="HT"/>
			<xsd:enumeration value="HTZ"/>
			<xsd:enumeration value="HUR"/>
			<xsd:enumeration value="HY"/>
			<xsd:enumeration value="IA"/>
			<xsd:enumeration value="IC"/>
			<xsd:enumeration value="IE"/>
			<xsd:enumeration value="IF"/>
			<xsd:enumeration value="II"/>
			<xsd:enumeration value="IL"/>
			<xsd:enumeration value="IM"/>
			<xsd:enumeration value="INH"/>
			<xsd:enumeration value="INK"/>
			<xsd:enumeration value="INQ"/>
			<xsd:enumeration value="IP"/>
			<xsd:enumeration value="IT"/>
			<xsd:enumeration value="IU"/>
			<xsd:enumeration value="IV"/>
			<xsd:enumeration value="J2"/>
			<xsd:enumeration value="JB"/>
			<xsd:enumeration value="JE"/>
			<xsd:enumeration value="JG"/>
			<xsd:enumeration value="JK"/>
			<xsd:enumeration value="JM"/>
			<xsd:enumeration value="JO"/>
			<xsd:enumeration value="JOU"/>
			<xsd:enumeration value="JR"/>
			<xsd:enumeration value="K1"/>
			<xsd:enumeration value="K2"/>
			<xsd:enumeration value="K3"/>
			<xsd:enumeration value="K5"/>
			<xsd:enumeration value="K6"/>
			<xsd:enumeration value="KA"/>
			<xsd:enumeration value="KB"/>
			<xsd:enumeration value="KBA"/>
			<xsd:enumeration value="KD"/>
			<xsd:enumeration value="KEL"/>
			<xsd:enumeration value="KF"/>
			<xsd:enumeration value="KG"/>
			<xsd:enumeration value="KGM"/>
			<xsd:enumeration value="KGS"/>
			<xsd:enumeration value="KHZ"/>
			<xsd:enumeration value="KI"/>
			<xsd:enumeration value="KJ"/>
			<xsd:enumeration value="KJO"/>
			<xsd:enumeration value="KL"/>
			<xsd:enumeration value="KMH"/>
			<xsd:enumeration value="KMK"/>
			<xsd:enumeration value="KMQ"/>
			<xsd:enumeration value="KNI"/>
			<xsd:enumeration value="KNS"/>
			<xsd:enumeration value="KNT"/>
			<xsd:enumeration value="KO"/>
			<xsd:enumeration value="KPA"/>
			<xsd:enumeration value="KPH"/>
			<xsd:enumeration value="KPO"/>
			<xsd:enumeration value="KPP"/>
			<xsd:enumeration value="KR"/>
			<xsd:enumeration value="KS"/>
			<xsd:enumeration value="KSD"/>
			<xsd:enumeration value="KSH"/>
			<xsd:enumeration value="KT"/>
			<xsd:enumeration value="KTM"/>
			<xsd:enumeration value="KTN"/>
			<xsd:enumeration value="KUR"/>
			<xsd:enumeration value="KVA"/>
			<xsd:enumeration value="KVR"/>
			<xsd:enumeration value="KVT"/>
			<xsd:enumeration value="KW"/>
			<xsd:enumeration value="KWH"/>
			<xsd:enumeration value="KWT"/>
			<xsd:enumeration value="KX"/>
			<xsd:enumeration value="L2"/>
			<xsd:enumeration value="LA"/>
			<xsd:enumeration value="LBR"/>
			<xsd:enumeration value="LBT"/>
			<xsd:enumeration value="LC"/>
			<xsd:enumeration value="LD"/>
			<xsd:enumeration value="LE"/>
			<xsd:enumeration value="LEF"/>
			<xsd:enumeration value="LF"/>
			<xsd:enumeration value="LH"/>
			<xsd:enumeration value="LI"/>
			<xsd:enumeration value="LJ"/>
			<xsd:enumeration value="LK"/>
			<xsd:enumeration value="LM"/>
			<xsd:enumeration value="LN"/>
			<xsd:enumeration value="LO"/>
			<xsd:enumeration value="LP"/>
			<xsd:enumeration value="LPA"/>
			<xsd:enumeration value="LR"/>
			<xsd:enumeration value="LS"/>
			<xsd:enumeration value="LTN"/>
			<xsd:enumeration value="LTR"/>
			<xsd:enumeration value="LUM"/>
			<xsd:enumeration value="LUX"/>
			<xsd:enumeration value="LX"/>
			<xsd:enumeration value="LY"/>
			<xsd:enumeration value="M0"/>
			<xsd:enumeration value="M1"/>
			<xsd:enumeration value="M4"/>
			<xsd:enumeration value="M5"/>
			<xsd:enumeration value="M7"/>
			<xsd:enumeration value="M9"/>
			<xsd:enumeration value="MA"/>
			<xsd:enumeration value="MAL"/>
			<xsd:enumeration value="MAM"/>
			<xsd:enumeration value="MAW"/>
			<xsd:enumeration value="MBE"/>
			<xsd:enumeration value="MBF"/>
			<xsd:enumeration value="MBR"/>
			<xsd:enumeration value="MC"/>
			<xsd:enumeration value="MCU"/>
			<xsd:enumeration value="MD"/>
			<xsd:enumeration value="MF"/>
			<xsd:enumeration value="MGM"/>
			<xsd:enumeration value="MHZ"/>
			<xsd:enumeration value="MIK"/>
			<xsd:enumeration value="MIL"/>
			<xsd:enumeration value="MIN"/>
			<xsd:enumeration value="MIO"/>
			<xsd:enumeration value="MIU"/>
			<xsd:enumeration value="MK"/>
			<xsd:enumeration value="MLD"/>
			<xsd:enumeration value="MLT"/>
			<xsd:enumeration value="MMK"/>
			<xsd:enumeration value="MMQ"/>
			<xsd:enumeration value="MMT"/>
			<xsd:enumeration value="MON"/>
			<xsd:enumeration value="MPA"/>
			<xsd:enumeration value="MQ"/>
			<xsd:enumeration value="MQH"/>
			<xsd:enumeration value="MQS"/>
			<xsd:enumeration value="MSK"/>
			<xsd:enumeration value="MT"/>
			<xsd:enumeration value="MTK"/>
			<xsd:enumeration value="MTQ"/>
			<xsd:enumeration value="MTR"/>
			<xsd:enumeration value="MTS"/>
			<xsd:enumeration value="MV"/>
			<xsd:enumeration value="MVA"/>
			<xsd:enumeration value="MWH"/>
			<xsd:enumeration value="N1"/>
			<xsd:enumeration value="N2"/>
			<xsd:enumeration value="N3"/>
			<xsd:enumeration value="NA"/>
			<xsd:enumeration value="NAR"/>
			<xsd:enumeration value="NB"/>
			<xsd:enumeration value="NBB"/>
			<xsd:enumeration value="NC"/>
			<xsd:enumeration value="NCL"/>
			<xsd:enumeration value="ND"/>
			<xsd:enumeration value="NE"/>
			<xsd:enumeration value="NEW"/>
			<xsd:enumeration value="NF"/>
			<xsd:enumeration value="NG"/>
			<xsd:enumeration value="NH"/>
			<xsd:enumeration value="NI"/>
			<xsd:enumeration value="NIU"/>
			<xsd:enumeration value="NJ"/>
			<xsd:enumeration value="NL"/>
			<xsd:enumeration value="NMI"/>
			<xsd:enumeration value="NMP"/>
			<xsd:enumeration value="NN"/>
			<xsd:enumeration value="NPL"/>
			<xsd:enumeration value="NPR"/>
			<xsd:enumeration value="NPT"/>
			<xsd:enumeration value="NQ"/>
			<xsd:enumeration value="NR"/>
			<xsd:enumeration value="NRL"/>
			<xsd:enumeration value="NT"/>
			<xsd:enumeration value="NTT"/>
			<xsd:enumeration value="NU"/>
			<xsd:enumeration value="NV"/>
			<xsd:enumeration value="NX"/>
			<xsd:enumeration value="NY"/>
			<xsd:enumeration value="OA"/>
			<xsd:enumeration value="OHM"/>
			<xsd:enumeration value="ON"/>
			<xsd:enumeration value="ONZ"/>
			<xsd:enumeration value="OP"/>
			<xsd:enumeration value="OT"/>
			<xsd:enumeration value="OZ"/>
			<xsd:enumeration value="OZA"/>
			<xsd:enumeration value="OZI"/>
			<xsd:enumeration value="P0"/>
			<xsd:enumeration value="P1"/>
			<xsd:enumeration value="P2"/>
			<xsd:enumeration value="P3"/>
			<xsd:enumeration value="P4"/>
			<xsd:enumeration value="P5"/>
			<xsd:enumeration value="P6"/>
			<xsd:enumeration value="P7"/>
			<xsd:enumeration value="P8"/>
			<xsd:enumeration value="P9"/>
			<xsd:enumeration value="PA"/>
			<xsd:enumeration value="PAL"/>
			<xsd:enumeration value="PB"/>
			<xsd:enumeration value="PD"/>
			<xsd:enumeration value="PE"/>
			<xsd:enumeration value="PF"/>
			<xsd:enumeration value="PG"/>
			<xsd:enumeration value="PGL"/>
			<xsd:enumeration value="PI"/>
			<xsd:enumeration value="PK"/>
			<xsd:enumeration value="PL"/>
			<xsd:enumeration value="PM"/>
			<xsd:enumeration value="PN"/>
			<xsd:enumeration value="PO"/>
			<xsd:enumeration value="PQ"/>
			<xsd:enumeration value="PR"/>
			<xsd:enumeration value="PS"/>
			<xsd:enumeration value="PT"/>
			<xsd:enumeration value="PTD"/>
			<xsd:enumeration value="PTI"/>
			<xsd:enumeration value="PTL"/>
			<xsd:enumeration value="PU"/>
			<xsd:enumeration value="PV"/>
			<xsd:enumeration value="PW"/>
			<xsd:enumeration value="PY"/>
			<xsd:enumeration value="PZ"/>
			<xsd:enumeration value="Q3"/>
			<xsd:enumeration value="QA"/>
			<xsd:enumeration value="QAN"/>
			<xsd:enumeration value="QB"/>
			<xsd:enumeration value="QD"/>
			<xsd:enumeration value="QH"/>
			<xsd:enumeration value="QK"/>
			<xsd:enumeration value="QR"/>
			<xsd:enumeration value="QT"/>
			<xsd:enumeration value="QTD"/>
			<xsd:enumeration value="QTI"/>
			<xsd:enumeration value="QTL"/>
			<xsd:enumeration value="QTR"/>
			<xsd:enumeration value="R1"/>
			<xsd:enumeration value="R4"/>
			<xsd:enumeration value="R9"/>
			<xsd:enumeration value="RA"/>
			<xsd:enumeration value="RD"/>
			<xsd:enumeration value="RG"/>
			<xsd:enumeration value="RH"/>
			<xsd:enumeration value="RK"/>
			<xsd:enumeration value="RL"/>
			<xsd:enumeration value="RM"/>
			<xsd:enumeration value="RN"/>
			<xsd:enumeration value="RO"/>
			<xsd:enumeration value="RP"/>
			<xsd:enumeration value="RPM"/>
			<xsd:enumeration value="RPS"/>
			<xsd:enumeration value="RS"/>
			<xsd:enumeration value="RT"/>
			<xsd:enumeration value="RU"/>
			<xsd:enumeration value="S3"/>
			<xsd:enumeration value="S4"/>
			<xsd:enumeration value="S5"/>
			<xsd:enumeration value="S6"/>
			<xsd:enumeration value="S7"/>
			<xsd:enumeration value="S8"/>
			<xsd:enumeration value="SA"/>
			<xsd:enumeration value="SAN"/>
			<xsd:enumeration value="SCO"/>
			<xsd:enumeration value="SCR"/>
			<xsd:enumeration value="SD"/>
			<xsd:enumeration value="SE"/>
			<xsd:enumeration value="SEC"/>
			<xsd:enumeration value="SET"/>
			<xsd:enumeration value="SG"/>
			<xsd:enumeration value="SHT"/>
			<xsd:enumeration value="SIE"/>
			<xsd:enumeration value="SK"/>
			<xsd:enumeration value="SL"/>
			<xsd:enumeration value="SMI"/>
			<xsd:enumeration value="SN"/>
			<xsd:enumeration value="SO"/>
			<xsd:enumeration value="SP"/>
			<xsd:enumeration value="SQ"/>
			<xsd:enumeration value="SR"/>
			<xsd:enumeration value="SS"/>
			<xsd:enumeration value="SST"/>
			<xsd:enumeration value="ST"/>
			<xsd:enumeration value="STI"/>
			<xsd:enumeration value="STN"/>
			<xsd:enumeration value="SV"/>
			<xsd:enumeration value="SW"/>
			<xsd:enumeration value="SX"/>
			<xsd:enumeration value="T0"/>
			<xsd:enumeration value="T1"/>
			<xsd:enumeration value="T3"/>
			<xsd:enumeration value="T4"/>
			<xsd:enumeration value="T5"/>
			<xsd:enumeration value="T6"/>
			<xsd:enumeration value="T7"/>
			<xsd:enumeration value="T8"/>
			<xsd:enumeration value="TA"/>
			<xsd:enumeration value="TAH"/>
			<xsd:enumeration value="TC"/>
			<xsd:enumeration value="TD"/>
			<xsd:enumeration value="TE"/>
			<xsd:enumeration value="TF"/>
			<xsd:enumeration value="TI"/>
			<xsd:enumeration value="TJ"/>
			<xsd:enumeration value="TK"/>
			<xsd:enumeration value="TL"/>
			<xsd:enumeration value="TN"/>
			<xsd:enumeration value="TNE"/>
			<xsd:enumeration value="TP"/>
			<xsd:enumeration value="TPR"/>
			<xsd:enumeration value="TQ"/>
			<xsd:enumeration value="TQD"/>
			<xsd:enumeration value="TR"/>
			<xsd:enumeration value="TRL"/>
			<xsd:enumeration value="TS"/>
			<xsd:enumeration value="TSD"/>
			<xsd:enumeration value="TSH"/>
			<xsd:enumeration value="TT"/>
			<xsd:enumeration value="TU"/>
			<xsd:enumeration value="TV"/>
			<xsd:enumeration value="TW"/>
			<xsd:enumeration value="TY"/>
			<xsd:enumeration value="U1"/>
			<xsd:enumeration value="U2"/>
			<xsd:enumeration value="UA"/>
			<xsd:enumeration value="UB"/>
			<xsd:enumeration value="UC"/>
			<xsd:enumeration value="UD"/>
			<xsd:enumeration value="UE"/>
			<xsd:enumeration value="UF"/>
			<xsd:enumeration value="UH"/>
			<xsd:enumeration value="UM"/>
			<xsd:enumeration value="VA"/>
			<xsd:enumeration value="VI"/>
			<xsd:enumeration value="VLT"/>
			<xsd:enumeration value="VQ"/>
			<xsd:enumeration value="VS"/>
			<xsd:enumeration value="W2"/>
			<xsd:enumeration value="W4"/>
			<xsd:enumeration value="WA"/>
			<xsd:enumeration value="WB"/>
			<xsd:enumeration value="WCD"/>
			<xsd:enumeration value="WE"/>
			<xsd:enumeration value="WEB"/>
			<xsd:enumeration value="WEE"/>
			<xsd:enumeration value="WG"/>
			<xsd:enumeration value="WH"/>
			<xsd:enumeration value="WHR"/>
			<xsd:enumeration value="WI"/>
			<xsd:enumeration value="WM"/>
			<xsd:enumeration value="WR"/>
			<xsd:enumeration value="WSD"/>
			<xsd:enumeration value="WTT"/>
			<xsd:enumeration value="WW"/>
			<xsd:enumeration value="X1"/>
			<xsd:enumeration value="YDK"/>
			<xsd:enumeration value="YDQ"/>
			<xsd:enumeration value="YL"/>
			<xsd:enumeration value="YRD"/>
			<xsd:enumeration value="YT"/>
			<xsd:enumeration value="Z1"/>
			<xsd:enumeration value="Z2"/>
			<xsd:enumeration value="Z3"/>
			<xsd:enumeration value="Z4"/>
			<xsd:enumeration value="Z5"/>
			<xsd:enumeration value="Z6"/>
			<xsd:enumeration value="Z8"/>
			<xsd:enumeration value="ZP"/>
			<xsd:enumeration value="ZZ"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OrganizationTypeCodeContentType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="Limited Partnership"/>
			<xsd:enumeration value="Partnership"/>
			<xsd:enumeration value="Private Company Limited By Guarantee"/>
			<xsd:enumeration value="Private Company Limited By Shares"/>
			<xsd:enumeration value="Public Limited Company"/>
			<xsd:enumeration value="Sole Trader"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RelationshipCodeContentType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="20"/>
			<xsd:enumeration value="30"/>
			<xsd:enumeration value="40"/>
			<xsd:enumeration value="50"/>
			<xsd:enumeration value="60"/>
			<xsd:enumeration value="70"/>
			<xsd:enumeration value="80"/>
			<xsd:enumeration value="90"/>
			<xsd:enumeration value="100"/>
			<xsd:enumeration value="110"/>
			<xsd:enumeration value="120"/>
			<xsd:enumeration value="130"/>
			<xsd:enumeration value="140"/>
			<xsd:enumeration value="150"/>
			<xsd:enumeration value="160"/>
			<xsd:enumeration value="170"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RepaymentTypeCodeContentType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="20"/>
			<xsd:enumeration value="30"/>
			<xsd:enumeration value="40"/>
			<xsd:enumeration value="50"/>
			<xsd:enumeration value="60"/>
			<xsd:enumeration value="70"/>
			<xsd:enumeration value="80"/>
			<xsd:enumeration value="90"/>
			<xsd:enumeration value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TenureTypeCodeContentType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="20"/>
			<xsd:enumeration value="30"/>
			<xsd:enumeration value="40"/>
			<xsd:enumeration value="100"/>
			<xsd:enumeration value="110"/>
			<xsd:enumeration value="120"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UKCountryCodeContentType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="England"/>
			<xsd:enumeration value="Northern Ireland"/>
			<xsd:enumeration value="Scotland"/>
			<xsd:enumeration value="Wales"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UKCountyCodeContentType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="Bedfordshire"/>
			<xsd:enumeration value="Berkshire"/>
			<xsd:enumeration value="Buckinghamshire"/>
			<xsd:enumeration value="Cambridgeshire"/>
			<xsd:enumeration value="Cheshire"/>
			<xsd:enumeration value="Cornwall"/>
			<xsd:enumeration value="Cumbria"/>
			<xsd:enumeration value="Derbyshire"/>
			<xsd:enumeration value="Devon"/>
			<xsd:enumeration value="Dorset"/>
			<xsd:enumeration value="Durham"/>
			<xsd:enumeration value="East Sussex"/>
			<xsd:enumeration value="Essex"/>
			<xsd:enumeration value="Gloucestershire"/>
			<xsd:enumeration value="Greater London"/>
			<xsd:enumeration value="Greater Manchester"/>
			<xsd:enumeration value="Hampshire"/>
			<xsd:enumeration value="Herefordshire"/>
			<xsd:enumeration value="Hertfordshire"/>
			<xsd:enumeration value="Isle of Wight"/>
			<xsd:enumeration value="Kent"/>
			<xsd:enumeration value="Lancashire"/>
			<xsd:enumeration value="Leicestershire"/>
			<xsd:enumeration value="Lincolnshire"/>
			<xsd:enumeration value="Merseyside"/>
			<xsd:enumeration value="Norfolk"/>
			<xsd:enumeration value="North Yorkshire"/>
			<xsd:enumeration value="Northamptonshire"/>
			<xsd:enumeration value="Northumberland"/>
			<xsd:enumeration value="Nottinghamshire"/>
			<xsd:enumeration value="Oxfordshire"/>
			<xsd:enumeration value="Shropshire"/>
			<xsd:enumeration value="Somerset"/>
			<xsd:enumeration value="South Yorkshire"/>
			<xsd:enumeration value="Staffordshire"/>
			<xsd:enumeration value="Suffolk"/>
			<xsd:enumeration value="Surrey"/>
			<xsd:enumeration value="Tyne and Wear"/>
			<xsd:enumeration value="Warwickshire"/>
			<xsd:enumeration value="West Midlands"/>
			<xsd:enumeration value="West Sussex"/>
			<xsd:enumeration value="West Yorkshire"/>
			<xsd:enumeration value="Wiltshire"/>
			<xsd:enumeration value="Worcestershire"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
