ExtensionCommon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ec="http://www.oscre.org/ns/v1/ExtensionCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.oscre.org/ns/v1/ExtensionCommon" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>			
		*********************************************************************************************************************************************************************************************************************
			Author: 			Ash Singhal
							
			Company:			TM Group
								
			Release Date:		11-04-2011
			
			Copyright (c) 2011 TMGroup, All Rights Reserved. For more information please visit http://www.tmgroup.co.uk			
		*********************************************************************************************************************************************************************************************************************
		</xs:documentation>
	</xs:annotation>
	<xs:complexType name="FeeType">
		<xs:sequence>
			<xs:element name="FeeItem" type="ec:FeeItemType" maxOccurs="99"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FeeItemType">
		<xs:sequence>
			<xs:element name="Type" type="ec:FeeItemEnumerationType"/>
			<xs:element name="Value" type="xs:string"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MetaDataType">
		<xs:sequence>
			<xs:element name="MetaDataItem" type="ec:MetaDataItemType" maxOccurs="99"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="FeeItemEnumerationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Base"/>
			<xs:enumeration value="Mortgage"/>
			<xs:enumeration value="Leasehold"/>
			<xs:enumeration value="Remortgage"/>
			<xs:enumeration value="SDLT"/>
			<xs:enumeration value="EACommission"/>
			<xs:enumeration value="Total"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MetaDataItemType">
		<xs:sequence>
			<xs:element name="Type" type="ec:MetaDataItemEnumerationType"/>
			<xs:element name="Value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MetaDataItemEnumerationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MilestoneURL"/>
			<xs:enumeration value="MortgageBusinessUnitCase"/>
			<xs:enumeration value="Product"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ReferenceType">
		<xs:sequence>
			<xs:element name="Reference" type="ec:StringMaxLen50"/>
			<xs:element name="AllocatedBy" type="ec:StringMaxLen50"/>
			<xs:element name="Description" type="ec:StringMaxLen50" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyInformationType">
		<xs:sequence>
			<xs:element name="Reference" type="ec:StringMaxLen50"/>
			<xs:element name="Name" type="ec:StringMaxLen50"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LoanToValueType">
		<xs:simpleContent>
			<xs:extension base="ec:ECAmountType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MaritalStatusType">
		<xs:sequence>
			<xs:element name="MaritalStatusCode" type="ec:MaritalStatusCodeType"/>
			<xs:element name="MaritalStatusDescription" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConveyancerType">
		<xs:sequence>
			<xs:element name="ConveyancerTypeCode" type="ec:ConveyancerTypeCode"/>
			<xs:element name="ConveyancerTypeDescription" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MaritalStatusCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Annulled"/>
			<xs:enumeration value="Co-habitating"/>
			<xs:enumeration value="Divorced"/>
			<xs:enumeration value="Engaged"/>
			<xs:enumeration value="Married"/>
			<xs:enumeration value="Separated"/>
			<xs:enumeration value="Single"/>
			<xs:enumeration value="Widowed"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PropertyStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Grade2"/>
			<xs:enumeration value="Grade1"/>
			<xs:enumeration value="PreservationOrder"/>
			<xs:enumeration value="NotListed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringMaxLen50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringMaxLen100">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringMaxLen20">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PropertyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="House"/>
			<xs:enumeration value="TownHouse"/>
			<xs:enumeration value="Apartment"/>
			<xs:enumeration value="Bungalow"/>
			<xs:enumeration value="SemiCommercial"/>
			<xs:enumeration value="StudioFlat"/>
			<xs:enumeration value="ParkHome"/>
			<xs:enumeration value="Land"/>
			<xs:enumeration value="Garage"/>
			<xs:enumeration value="CharacterProperty"/>
			<xs:enumeration value="GuestHouseOrHotel"/>
			<xs:enumeration value="RetirementProperty"/>
			<xs:enumeration value="Flat"/>
			<xs:enumeration value="Bedsit"/>
			<xs:enumeration value="Caravan"/>
			<xs:enumeration value="BarnConversion"/>
			<xs:enumeration value="Cottage"/>
			<xs:enumeration value="Maisonette"/>
			<xs:enumeration value="MobileHome"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PropertyStyle">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Detached"/>
			<xs:enumeration value="SemiDetached"/>
			<xs:enumeration value="MidTerraced"/>
			<xs:enumeration value="EndTerraced"/>
			<xs:enumeration value="Equestrian"/>
			<xs:enumeration value="Terraced"/>
			<xs:enumeration value="Linked"/>
			<xs:enumeration value="LinkDetached"/>
			<xs:enumeration value="TownHouseOrMews"/>
			<xs:enumeration value="Chalet"/>
			<xs:enumeration value="BarnConversion"/>
			<xs:enumeration value="Maisonette"/>
			<xs:enumeration value="Basement"/>
			<xs:enumeration value="GroundFloor"/>
			<xs:enumeration value="FirstFloor"/>
			<xs:enumeration value="UpperFloor"/>
			<xs:enumeration value="Penthouse"/>
			<xs:enumeration value="Converted"/>
			<xs:enumeration value="PurposeBuilt"/>
			<xs:enumeration value="ClusterHouse"/>
			<xs:enumeration value="RoomsOnly"/>
			<xs:enumeration value="OtherFloor"/>
			<xs:enumeration value="Miscellaneous"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PropertyConstructionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Brick"/>
			<xs:enumeration value="Stone"/>
			<xs:enumeration value="Concrete"/>
			<xs:enumeration value="Timber"/>
			<xs:enumeration value="Prefabricated"/>
			<xs:enumeration value="Flint"/>
			<xs:enumeration value="Glass"/>
			<xs:enumeration value="Corrugated Iron"/>
			<xs:enumeration value="Asbestos"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MessageDeliveryType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Email"/>
			<xs:enumeration value="SMS"/>
			<xs:enumeration value="InApp"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PropertyUsageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NoBusinessOrProfessionalUse"/>
			<xs:enumeration value="RegularBusiness"/>
			<xs:enumeration value="ClericalBusinessUseOnly"/>
			<xs:enumeration value="OtherBusinessUse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateYearType">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1000"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConveyancerTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Buyer"/>
			<xs:enumeration value="Vendor"/>
			<xs:enumeration value="Lender"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressContextType">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="BorrowerParty"/>
			<xs:enumeration value="LegalOwnerParty"/>
			<xs:enumeration value="BuyerOwnerParty"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActionStatusType">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="Success"/>
			<xs:enumeration value="Failure"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ECAmountType">
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="currencyID" type="ec:ECAmountCurrencyIDContentType" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="MessageParty">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="User"/>
			<xs:enumeration value="Customer"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ECAmountCurrencyIDContentType">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="AED"/>
			<xs:enumeration value="AFN"/>
			<xs:enumeration value="ALL"/>
			<xs:enumeration value="AMD"/>
			<xs:enumeration value="ANG"/>
			<xs:enumeration value="AOA"/>
			<xs:enumeration value="ARS"/>
			<xs:enumeration value="AUD"/>
			<xs:enumeration value="AWG"/>
			<xs:enumeration value="AZM"/>
			<xs:enumeration value="BAM"/>
			<xs:enumeration value="BBD"/>
			<xs:enumeration value="BDT"/>
			<xs:enumeration value="BGN"/>
			<xs:enumeration value="BHD"/>
			<xs:enumeration value="BIF"/>
			<xs:enumeration value="BMD"/>
			<xs:enumeration value="BND"/>
			<xs:enumeration value="BOB"/>
			<xs:enumeration value="BRL"/>
			<xs:enumeration value="BSD"/>
			<xs:enumeration value="BTN"/>
			<xs:enumeration value="BWP"/>
			<xs:enumeration value="BYR"/>
			<xs:enumeration value="BZD"/>
			<xs:enumeration value="CAD"/>
			<xs:enumeration value="CDF"/>
			<xs:enumeration value="CHE"/>
			<xs:enumeration value="CHF"/>
			<xs:enumeration value="CHW"/>
			<xs:enumeration value="CLP"/>
			<xs:enumeration value="CNY"/>
			<xs:enumeration value="COP"/>
			<xs:enumeration value="COU"/>
			<xs:enumeration value="CRC"/>
			<xs:enumeration value="CSD"/>
			<xs:enumeration value="CUP"/>
			<xs:enumeration value="CVE"/>
			<xs:enumeration value="CYP"/>
			<xs:enumeration value="CZK"/>
			<xs:enumeration value="DJF"/>
			<xs:enumeration value="DKK"/>
			<xs:enumeration value="DOP"/>
			<xs:enumeration value="DZD"/>
			<xs:enumeration value="EEK"/>
			<xs:enumeration value="EGP"/>
			<xs:enumeration value="ERN"/>
			<xs:enumeration value="ETB"/>
			<xs:enumeration value="EUR"/>
			<xs:enumeration value="FJD"/>
			<xs:enumeration value="FKP"/>
			<xs:enumeration value="GBP"/>
			<xs:enumeration value="GEL"/>
			<xs:enumeration value="GHC"/>
			<xs:enumeration value="GIP"/>
			<xs:enumeration value="GMD"/>
			<xs:enumeration value="GNF"/>
			<xs:enumeration value="GTQ"/>
			<xs:enumeration value="GYD"/>
			<xs:enumeration value="HKD"/>
			<xs:enumeration value="HNL"/>
			<xs:enumeration value="HRK"/>
			<xs:enumeration value="HTG"/>
			<xs:enumeration value="HUF"/>
			<xs:enumeration value="IDR"/>
			<xs:enumeration value="ILS"/>
			<xs:enumeration value="INR"/>
			<xs:enumeration value="IQD"/>
			<xs:enumeration value="IRR"/>
			<xs:enumeration value="ISK"/>
			<xs:enumeration value="JMD"/>
			<xs:enumeration value="JOD"/>
			<xs:enumeration value="JPY"/>
			<xs:enumeration value="KES"/>
			<xs:enumeration value="KGS"/>
			<xs:enumeration value="KHR"/>
			<xs:enumeration value="KMF"/>
			<xs:enumeration value="KPW"/>
			<xs:enumeration value="KRW"/>
			<xs:enumeration value="KWD"/>
			<xs:enumeration value="KYD"/>
			<xs:enumeration value="KZT"/>
			<xs:enumeration value="LAK"/>
			<xs:enumeration value="LBP"/>
			<xs:enumeration value="LKR"/>
			<xs:enumeration value="LRD"/>
			<xs:enumeration value="LSL"/>
			<xs:enumeration value="LTL"/>
			<xs:enumeration value="LVL"/>
			<xs:enumeration value="LYD"/>
			<xs:enumeration value="MAD"/>
			<xs:enumeration value="MDL"/>
			<xs:enumeration value="MGA"/>
			<xs:enumeration value="MKD"/>
			<xs:enumeration value="MMK"/>
			<xs:enumeration value="MNT"/>
			<xs:enumeration value="MOP"/>
			<xs:enumeration value="MRO"/>
			<xs:enumeration value="MTL"/>
			<xs:enumeration value="MUR"/>
			<xs:enumeration value="MVR"/>
			<xs:enumeration value="MWK"/>
			<xs:enumeration value="MXN"/>
			<xs:enumeration value="MYR"/>
			<xs:enumeration value="MZM"/>
			<xs:enumeration value="NAD"/>
			<xs:enumeration value="NGN"/>
			<xs:enumeration value="NIO"/>
			<xs:enumeration value="NOK"/>
			<xs:enumeration value="NPR"/>
			<xs:enumeration value="NZD"/>
			<xs:enumeration value="OMR"/>
			<xs:enumeration value="PAB"/>
			<xs:enumeration value="PEN"/>
			<xs:enumeration value="PGK"/>
			<xs:enumeration value="PHP"/>
			<xs:enumeration value="PKR"/>
			<xs:enumeration value="PLN"/>
			<xs:enumeration value="PYG"/>
			<xs:enumeration value="QAR"/>
			<xs:enumeration value="ROL"/>
			<xs:enumeration value="RON"/>
			<xs:enumeration value="RUB"/>
			<xs:enumeration value="RWF"/>
			<xs:enumeration value="SAR"/>
			<xs:enumeration value="SBD"/>
			<xs:enumeration value="SCR"/>
			<xs:enumeration value="SDD"/>
			<xs:enumeration value="SEK"/>
			<xs:enumeration value="SGD"/>
			<xs:enumeration value="SHP"/>
			<xs:enumeration value="SIT"/>
			<xs:enumeration value="SKK"/>
			<xs:enumeration value="SLL"/>
			<xs:enumeration value="SOS"/>
			<xs:enumeration value="SRD"/>
			<xs:enumeration value="STD"/>
			<xs:enumeration value="SVC"/>
			<xs:enumeration value="SYP"/>
			<xs:enumeration value="SZL"/>
			<xs:enumeration value="THB"/>
			<xs:enumeration value="TJS"/>
			<xs:enumeration value="TMM"/>
			<xs:enumeration value="TND"/>
			<xs:enumeration value="TOP"/>
			<xs:enumeration value="TRL"/>
			<xs:enumeration value="TRY"/>
			<xs:enumeration value="TTD"/>
			<xs:enumeration value="TWD"/>
			<xs:enumeration value="TZS"/>
			<xs:enumeration value="UAH"/>
			<xs:enumeration value="UGX"/>
			<xs:enumeration value="USD"/>
			<xs:enumeration value="UYU"/>
			<xs:enumeration value="UZS"/>
			<xs:enumeration value="VEB"/>
			<xs:enumeration value="VND"/>
			<xs:enumeration value="VUV"/>
			<xs:enumeration value="WST"/>
			<xs:enumeration value="XAF"/>
			<xs:enumeration value="XAG"/>
			<xs:enumeration value="XAU"/>
			<xs:enumeration value="XCD"/>
			<xs:enumeration value="XDR"/>
			<xs:enumeration value="XOF"/>
			<xs:enumeration value="XPD"/>
			<xs:enumeration value="XPF"/>
			<xs:enumeration value="XPT"/>
			<xs:enumeration value="YER"/>
			<xs:enumeration value="ZAR"/>
			<xs:enumeration value="ZMK"/>
			<xs:enumeration value="ZWD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AttachmentListItemType">
		<xs:sequence>
			<xs:element name="FileName" type="ec:StringMaxLen100" minOccurs="0"/>
			<xs:element name="Description" type="ec:StringMaxLen100" minOccurs="0"/>
			<xs:element name="Type" type="ec:StringMaxLen100" minOccurs="0"/>
			<xs:element name="Format" type="ec:StringMaxLen20" minOccurs="0"/>
			<xs:element name="MimeCode" type="ec:StringMaxLen20" minOccurs="0"/>
			<xs:element name="Data" type="xs:base64Binary"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttachmentListItemDataType">
		<xs:simpleContent>
			<xs:extension base="xs:base64Binary"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AdditionalInformationListType">
		<xs:sequence>
			<xs:element name="AdditionalInformationItem" type="ec:AdditionalInformationItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalInformationItemType">
		<xs:sequence>
			<xs:element name="Code" type="ec:StringMaxLen100"/>
			<xs:element name="Value" type="xs:string"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecialCriteriaType">
		<xs:sequence>
			<xs:element name="ComplexMatrimonial" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ContractRace" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Auction" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SharedOwnershipwithHousingAssociation" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Bankruptcy" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PropertyHasSecondCharge" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PropertyTransferOfEquity" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RightToBuy" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BuyToLet" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FlyingFreehold" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NewBuild" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Repossession" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BuySmart" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Assist" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CWCPSRepossession" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="BarnConversion" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MortgageCategoryType">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="NoMortgage"/>
			<xs:enumeration value="NewLoan"/>
			<xs:enumeration value="ExistingLoan"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ProductDetailsType">
		<xs:sequence>
			<xs:element name="CoreProduct" type="ec:StringMaxLen100" minOccurs="0"/>		
			<xs:element name="FeeScaleProduct" type="ec:StringMaxLen100" minOccurs="0"/>
			<xs:element name="AdvancedPaymentTaken" type="xs:boolean" minOccurs="0"/>
			<xs:element name="AdvancedPaymentDetails" type="ec:AdvancedPaymentDetailsType" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdvancedPaymentDetailsType">
		<xs:sequence>
			<xs:element name="AdvancedPaymentType" type="xs:string" minOccurs="0"/>
			<xs:element name="AdvancedPaymentAmount" type="xs:string" minOccurs="0"/>
			<xs:element name="AdvancedPaymentVAT" type="xs:string" minOccurs="0"/>
			<xs:element name="CTCCode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
